/* details */
#details-pane {
    padding-top: 7em;
}

#details-pane-inner {
    border-top: solid lightgray 1px;
    margin-top: 4em;
    padding-top: 1em;
    font-size: 0.7em;
}

h4.sj-text-details-pane-summary {
    display: none;
    /* hide "Summary" header */
}

/* list reset (for legibility) */
sjwc-lesson-content-item ul,
sjwc-lesson-content-item ol {
    list-style: revert;
    margin: revert;
    padding: revert;
}

sjwc-lesson-content-item li {
    margin-left: -1em !important;
    padding-left: 0.5em !important;
}

/* quickfix pre */
pre {
    background: none !important;
    border: 1px solid #DCDCDC !important;
    border-radius: 8px !important;
    margin: 1em 0 !important;
}

/* blockquote */
blockquote.cg {
    background-image: linear-gradient(315deg, rgb(253, 225, 254), rgb(245, 246, 254) 72%) !important;
    border-radius: 8px !important;
    margin-top: 48px !important;
    margin-bottom: 48px !important;
    border: none;
    margin: 48px 48px 48px 48px;
    padding: 24px 24px 24px 24px;
    line-height: 1.7;
    max-width: 80%;
}

blockquote.cg>cite {
    font-size: .8125em;
    color: #555;
    display: flex;
    justify-content: flex-end;
    margin-top: 9px;
    flex-wrap: wrap;
    flex-direction: row;
}

/* adjusting font size + spacing for lessons */
sjwc-lesson-content-item p,
sjwc-lesson-content-item li {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 1.2em !important;
}

sjwc-lesson-content-item p.lead {
    font-size: 1.6em !important;
}

sjwc-lesson-content-item h2 {
    margin-top: 1.4em !important;
}

sjwc-lesson-content-item h3 {
    margin-top: 1.4em !important;
}

sjwc-lesson-content-item h4 {
    margin-top: 1.4em;
}

#lp-footer {
    padding-top: 5em;
}

sjwc-lesson-content-item img {
    display: block !important;
    margin: auto !important;
}

/* Inline code blocks */
code:not([class*="language-"]) {
    font-weight: bold;
    padding: 6px 5px 5px 5px;
    color: #a80c33;
    background-color: #eee;
    border-radius: 9px;
    margin: 0px 3px 0px 3px;
}

/* CG memes */
.content-img-outer-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-image: linear-gradient(315deg, rgb(253, 225, 254), rgb(245, 246, 254) 72%) !important;
    border-radius: 8px !important;
    margin-top: 48px !important;
    margin-bottom: 48px !important;
}

.content-img-inner-container {
    background-color: #fff !important;
    padding: 24px !important;
    margin: 64px !important;
    border-radius: 8px !important;
}

.content-img-inner-container img {
    border-radius: 4px !important;
    max-height: 300px !important;
    width: auto !important;
}

/* Header image should change sizing from 24px to 48px when on mobile login page */

.header-center-img {
    height: 24px !important;
}

@media (max-width: 991px) {
    body.sj-page-login .header-center-img,
    body.sj-page-curriculum .header-center-img,
    body.sj-page-lesson .header-center-img {
        height: 48px !important;
    }
}

/* #access-message [termsAndServicesText] should be same across mobile + desktop */
body.sj-page-login #access-message, body.sj-page-signup #access-message {
    font-size: 14px !important;
    color: #545454 !important;
    max-width: 368px;
}

body.sj-page-signup #access-message {
    transform: translateX(-13px) !important;
}

#skilljar-content .top-row-grey {
    max-width: none !important;
    /* padding: 96px 0 96px 0 !important; */    /* Removing this as it creates too much space */
    border: 0px !important;
    /* background-image: linear-gradient(315deg, rgb(253, 225, 254), rgb(245, 246, 254) 72%) !important; */
    position: relative !important;
    background-image: url(https://images.ctfassets.net/l47ir7rfykkn/5zE7elBMFe1MmuhPIeWd9G/e09a10e4d4c081b9ca86a879b6984049/Main_BG.png) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin: 0 !important;

    p, h1, h2, .button {
        color: var(--primary-white-hex) !important;
    }

    .button {
        border-color: var(--primary-cyan-hex) !important;
    }

    .sj-floater-text {
        color: var(--primary-cyan-hex) !important;
    }

    /* mainHeading */
    h1.break-word {
        margin: 0 0 12px 0 !important;
        font-size: 36px !important;
        font-weight: 600 !important;
        line-height: 43.2px !important;
        letter-spacing: -0.5px !important;
    }

    /* headingFloaterText */
    .sj-floater-text {
        color: #7AF0FE !important;
        display: block !important;
        margin-bottom: 24px !important;
    }

    /* headerFlexContainer */
    .dp-row-flex-v2 {
        flex-direction: row-reverse !important;
        flex-wrap: nowrap !important;
        justify-content: start !important;
        gap: 24px !important;
        max-width: 1188px !important;
        margin: 96px 0 !important;
    }

    /* videoContainer */
    .video-max {
        max-width: none !important;
    }

    /* mainHeadingContainer / sjHeaderTextContainer */
    .sj-summary, .dp-summary-wrapper { /* cp-summary-wrapper also, maybe that's breaking? */
        border: 0px !important;
        max-width: 564px !important; /* 600px set on Learning Paths in JS */
        position: static !important;
        padding: 0px !important;
        text-align: left !important;

        h2 {
            color: var(--primary-white-hex) !important;
            display: block !important;
            margin: 0 0 24px 0 !important;
        }

        .sj-course-info-wrapper {
            display: none !important;
        }

        /*  sjHeaderTextSubheading, sjHeaderTextProgressBar */
        .cp-lessons, .progress-bar {
            display: none !important;
        }

        /* headingParagraph */
        .sj-heading-paragraph {
            display: block !important;
        }
        
    }

    /* sjHeaderImgContainer */
    .cp-promo-image-wrapper {
        position: static !important;
        padding: 0 !important;
        width: 90% !important;
        max-width: 564px !important;
        height: auto !important;

        /* sjHeaderImgDirectContainer */
        .cp-promo-image {
            max-height: none !important;
            
            /* sjHeaderImg */
            img {
                max-height: none !important;
                height: auto !important;
                max-width: 100% !important;
            }
        }
    }

    /* resumeBtn */
    #resume-button {
        margin: 0px !important;
    }
}

@media (max-width: 991px) {
    #skilljar-content .top-row-grey {
        padding: 48px 0 48px 0 !important;
        
        /* headerFlexContainer */
        .dp-row-flex-v2 {
            flex-direction: column-reverse !important;
        }

        /* videoContainer */
        .video-max {
            padding: 15px 0 15px 0 !important;            
        }

        /* mainVideoContainer */
        .dp-promo-image-wrapper {
            padding: 0 !important;
            max-width: none !important;
            width: 100% !important;
        }

        /* sjHeaderTextContainer */
        .sj-summary, .dp-summary-wrapper { 
            max-width: none !important;
            width: 90% !important; /* comes from mobileCurriculumPageYesCertificateStyling function */
            margin-bottom: 32px !important;

            /* headingParagraph */
            .sj-heading-paragraph {
                margin: 0 0 24px 0 !important;
            }
        }
    }
}

/* courseDetailCardContainer */
.course-details-card {
    margin: 96px 0 46px 0 !important;
    justify-self: center !important;
}

@media (max-width: 991px) {
    .course-details-card {
        margin: 32px 0 56px 0 !important;
    }
}

#catalog-content-wrapper {
    max-width: min(1232px, 90%) !important;
    margin: 96px auto !important;

    h2 {
        font-size: 48px !important;
        margin-bottom: 38px !important;        
    }
}

/* bodyMainContainer */
#cp-content, #dp-details {
    display: grid !important;
    margin-top: 96px !important;
    grid-template-columns: minmax(100px, 760px) minmax(100px, 368px) !important;
    column-gap: 24px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    /* bodyColumns */
    .columns {
        float: none !important;
        padding: 0 !important;
        width: 100% !important;
        display: block !important;

        h3 {
            font-weight: 600 !important;
        }

        /* innerCol */
        ul.dp-curriculum {
            margin: 0 !important;
        }
    }

    .large-7.columns {
        margin-bottom: 48px !important;
    }

    /* curriculumSection */
    #curriculum-section {
        margin-top: 48px !important;
        padding: 0 !important;

        .title {
            display: none !important;
        }

        h2 {
            font-weight: 600 !important;
        }

        .content {
            border: 0px !important;
            padding: 0 !important;
        }

        /* lessonListItem(s) */
        .lesson-row {
            display: flex !important;
            align-items: center !important;
            gap: 12px !important;

            /* titleEl */
            .title {
                position: static !important;
                color: #1C1C1C !important; /* add to colors? */
                display: flex !important;
                align-items: center !important;
                margin: 0 !important;
                transform: translateY(2px) !important;
            }
            
            .bullet {
                position: static !important;
            }
            
            /* pageIcons */
            .type-icon {
                display: none !important;
            }
        }

        /* styleGroupContainer */
        #curriculum-list {
            .module-list {
                border: 2px solid #3443f4 !important;
                border-radius: 8px !important;
                margin-bottom: 48px !important;
                padding: 0px !important;
                
                /* groupHeadingContainer */
                .module-list-heading-container {
                    display: flex !important;
                    gap: 12px !important;
                    padding: 24px !important;
                    border-bottom: 2px solid rgb(52, 67, 244) !important;

                    h3, .module-list-heading {
                        font-size: 16px !important;
                        font-family: Fusiona !important;
                        font-weight: 500 !important;
                        line-height: 125% !important;
                        letter-spacing: -0.16px !important;
                        margin: 0px !important;
                    }
                }
            }

            .module-list-gray-border {
                border: 1px solid #DCDCDC !important;
            }

            .lesson-item {
                padding: 24px !important;
                font-size: 16px !important;
                font-weight: 400 !important;
                line-height: 150% !important;
                border-bottom: 2px solid #3443f4 !important;
                
                /* icon */
                .type-icon {
                    display: none !important;
                }
            }

            .lesson-item-gray-border {
                border: 1px solid #DCDCDC !important;
            }

            .lesson-item:last-child, .lesson-item-gray-border:last-child {
                border-bottom: none !important;
            }
        }
    }
    
    /* aboutSection */
    #about-section {
        padding: 0 !important;

        h3 {
            font-weight: 600 !important;
            display: none !important;
            border: 0px !important;
            padding: 0px !important;
        }
    }
        
    /* tabsContainer */
    .section-container.tabs {
        margin: 0px 0px 46px !important;
        min-height: 58px !important;
    }
}

@media (max-width: 991px) {
    /* bodyMainContainer */
    #cp-content, #dp-details {
        grid-template-columns: 1fr !important;
        width: 90% !important;
        
        /* InnerContentContainer */
        .columns {
            width: 100% !important;
        }
        
        /* tabsContainer */
        .section-container.tabs {
            margin: 96px 0 46px 0 !important;
            min-height: 58px !important;
        }
    }
}
/* #skilljar-content .top-row-grey::before {
    background-image: url(https://images.ctfassets.net/l47ir7rfykkn/5zE7elBMFe1MmuhPIeWd9G/e09a10e4d4c081b9ca86a879b6984049/Main_BG.png) !important;
    background-size: cover !important;
    mix-blend-mode: multiply !important;
    content: "" !important;
    position: absolute !important;
    inset: 0 !important;
} */

/* backToCatalogBtn */
.back-to-catalog {
    display: none !important;
}

/* signInHeaderText */
.signin {
    display: none !important;
}

/* signInBtn */
a.header-link.login-link {
    background-color: transparent !important;
    padding: 8px 12px !important;
    margin-right: 24px !important;
    border: 2px solid #3443F4 !important;
    border-radius: 999px !important;
    font-size: 14px !important;
    font-family: "Space Mono", monospace !important;
    font-weight: 700 !important;
    line-height: 20px !important;
    color: #3443F4 !important;
}

/* insertFooter function */
#footer-container {
    display: flex !important;
}

/* !body.classList.contains("sj-page-catalog") */
body.sj-page-curriculum,
body.sj-page-detail-course,
body.sj-page-lesson,
body.sj-page-login,
body.sj-page-signup,
body.sj-page-detail-path {
    visibility: visible !important;
    opacity: 1 !important;
}

/* hide Skilljar footer */
#ep-footer {
    display: none !important;
}


@media (max-width: 991px) {
    a.header-link.login-link {
        color: #fff !important;
        padding: 4px 8px !important;
        margin-right: 24px !important;
        border-color: #3443F4 !important;
        background-color: #3443F4 !important;
        font-size: 14px !important;
        line-height: 20px !important;
        font-weight: 500 !important;
    }

    /* insertFooter function */
    .sj-page-lesson #footer-container {
        display: none !important; /* hide footer on mobile devices; TODO: we want to set this on smaller screens ONLY? */
    }
}

/* bodyContainer (note, not for Learning Paths) */
#dp-details {
    padding: 0 !important;
    margin: 96px auto 46px auto !important;
    max-width: min(1152px, 90%) !important;
    display: grid !important;
    grid-template-columns: minmax(100px, 760px) minmax(100px, 368px) !important;
    column-gap: 24px !important;

    /* mobileBodyContent */
    .show-for-small {
        display: none !important;
    }
}

@media (max-width: 991px) {
    #dp-details {
        /* padding: 0 !important; */
        margin: 72px auto -10px auto !important;
        /* max-width: min(1152px, 90%) !important; */
        /* display: grid !important; */
        grid-template-columns: 1fr !important;
        /* column-gap: 24px !important; */
    }
}

/* bodyContainer (for Learning Paths */
#dp-details-bundle {
    padding: 0 !important;
    margin: 96px auto 46px auto !important;
    max-width: min(1152px, 90%) !important;
    /* display: grid !important;
    grid-template-columns: minmax(100px, 760px) minmax(100px, 368px) !important;
    column-gap: 24px !important; */
}

/* catalogContainer */
body.sj-page-detail #catalog-courses {
    margin-bottom: 85px !important;
}

/* checkboxIcon */
svg.checkbox-icon {
    display: none !important
}
.course-details-card svg.checkbox-icon {
    display: block !important;
    flex-shrink: 0 !important;
}

body.sj-page-login, body.sj-page-signup {
    /* login + signup page elements */

    /* fbBtn */
    #facebook_login {
        display: none !important;
    }

    /* googleBtn */
    #google_login {
        /* background-color: #3443F4 !important; */
        background: linear-gradient(225deg, #7545FB 0%, #7AF0FE 100%) !important;
        text-align: center !important;
        width: auto !important;
    }

    /* loginContent */
    #login-content {
        border: 0px !important;
    }

    /* tabArrow */
    #tab-marker-login {
        display: none !important;
    }

    /* loginContentContainer */
    .large-6.columns:has(#signup_form) {
        width: 50% !important;
    }

    .large-6.columns:has(.sj-text-sign-in-with) {
        width: 50% !important;
        padding-left: 100px !important;

        /* orSignInWithGoogleList */
        ul {
            padding-left: 25px !important;

            /* orSignInWithGoogleItems */
            li {
                padding: 0px !important;
            }
        }
    }

    /* signUpSignInContainer */
    #login-tab-container .large-12.columns {
        display: flex !important;
        
        /* tabs */
        .login-tab {
            border-radius: 100px !important;
            display: flex !important;
            padding: 4px !important;
            background-color: #F3F3F3 !important; /* used to be on only mobile */
        }
    }
}

@media (max-width: 991px) {
    body.sj-page-login, body.sj-page-signup {
        /* login + signup page elements */

        /* googleBtn */
        #google_login {
            width: 100% !important;
        }

        /* loginContentContainer */
        .large-6.columns:has(#signup_form) {
            width: 100% !important;
        }

        .large-6.columns:has(.sj-text-sign-in-with) {
            width: 100% !important;
            padding: 0px !important;
            
            /* orSignInWithGoogleList */
            ul {
                padding: 0px !important;
            }
        }
    }
}