repos:
  - repo: local
    hooks:
      - id: css-syntax-check
        name: CSS syntax check
        entry: npx stylelint
        language: system
        files: \.css$
        pass_filenames: true

      - id: js-syntax-check
        name: JavaScript syntax check
        entry: bash -c 'for f in "$@"; do node --check "$f"; done' --
        language: system
        files: \.js$
        pass_filenames: true

      # - id: js-minify
      #   name: JavaScript minify (with sourcemap)
      #   entry: >
      #     npx terser production/skilljar-theme-v3.0.js
      #     -c -m
      #     -o production/skilljar-theme-v3.0.min.js
      #     --source-map "filename='skilljar-theme-v3.0.min.js',url='skilljar-theme-v3.0.min.js.map'"
      #   language: system
      #   files: ^production/skilljar-theme-v3\.0\.js$
      #   pass_filenames: false

      # - id: stage-minified
      #   name: Stage minified JS + sourcemap
      #   entry: sh -c "git add production/skilljar-theme-v3.0.min.js production/skilljar-theme-v3.0.min.js.map"
      #   language: system
      #   pass_filenames: false
