/*
  General page styles:
  - body.sj-page-catalog-root = main landing page
  - body.sj-page-catalog = course catalog page
  - body.sj-page-curriculum = course description page (signed up)
  - body.sj-page-detail-bundle.sj-page-detail-path = learning path detail page (not logged in)
  - body.sj-page-catalog.sj-page-series = learning path detail page (logged in)
  - body.sj-page-detail-course = course description page (not logged in + logged in)
  */

body.sj-page-detail-course,
body.sj-page-detail-path,
body.sj-page-curriculum {
  /*
  body.sj-page-detail-course: isCourseUnregistered
  body.sj-page-curriculum: isCourseRegistered
  body.sj-page-detail-path: isPathUnregistered
  */

  .top-row-grey {
    .d-flex-center-v2 {
      justify-content: start;

      .cp-summary-row-v2 {
        width: 100% !important;
      }
    }

    .dp-row-flex-v2 {
      .cp-promo-image-wrapper,
      .dp-promo-image-wrapper {
        /* Course image */
        display: none !important;
      }

      .cp-summary-wrapper,
      .dp-summary-wrapper {
        max-width: 100% !important;
        text-align: left !important;

        .sj-floater-text {
          display: block !important;
          font-family: Roobert;
          font-weight: 700;
          font-size: 16px;
          line-height: 23.7px;
          color: #7545fb;
        }

        .sj-heading-paragraph {
          max-width: 80%;
          color: black !important;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        h1.break-word {
          color: black !important;
        }
      }
    }
  }

  .tabs {
    .content {
      background-color: transparent !important;

      ul {
        list-style-position: outside;
        padding-inline-start: 30px;
      }
    }
  }
}
