/*
  General page styles:
  - body.sj-page-catalog-root = main landing page
  - body.sj-page-catalog = course catalog page
  - body.sj-page-curriculum = course description page (signed up)
  - body.sj-page-detail-bundle.sj-page-detail-path = learning path detail page (not logged in)
  - body.sj-page-catalog.sj-page-series = learning path detail page (logged in)
  - body.sj-page-detail-course = course description page (not logged in + logged in)
  */
