/* This is where we put legacy styles that we want to freeze and not update, but potentially remove */

.module-heading {
  /* TODO: Legacy? */
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.module-list {
  /* TODO: Legacy? */
  margin-bottom: 48px;
}

.video-player.flex-video.widescreen {
  /* Legacy - I don't think we use video player anywhere anymore */
  padding: 0;
  border-radius: 8px;
}

.sj-heading-paragraph,
.sj-floater-text {
  /* TODO: Legacy, but still remains hardcoded so need to be here for now. */
  display: none;
}

.expandable-view
  a.coursebox-container[title="Claim your Container Crusader Credential"]::after {
  content: none;
}

.button.tiny[title="Download certificate PDF"] {
  display: none;
}
