.sj-page-catalog {
  /* All catalog pages */

  #cg-bg {
    width: 100%;
    height: 100%;
    z-index: -7 !important;
    position: absolute;
    inset: 0;
    background: url(https://westerling.nu/courses-theme/production/img/bg.svg)
      center no-repeat;
    background-size: cover;
  }

  #catalog-content {
    /* Hide existing catalog content */
    display: none !important;

    #catalog-courses {
      gap: 24px;
      justify-content: start;

      .coursebox-container {
        width: calc(50% - 24px) !important;
        margin: 0;

        @media screen and (max-width: 600px) {
          width: 100% !important;
        }

        .badge-box {
          font-weight: 800 !important;
          background-image: linear-gradient(
            315deg,
            rgb(253, 225, 254),
            rgb(245, 246, 254) 72%
          ) !important;
          padding: 12px 12px 12px 24px !important;
          margin-top: 0 !important;
          font-size: 1em !important;
          text-transform: uppercase !important;
          color: #c0a200 !important;
          left: 0 !important;
          top: 0 !important;
          position: absolute !important;
          z-index: 1 !important;
          width: 100% !important;
          box-shadow: 0 0 7px #0000003d !important;
        }

        .sj-course-ribbon-complete {
          color: white !important;
        }
      }
    }
  }

  .catalog-center-width {
    width: 100% !important;
    min-height: auto !important;
    padding: 0;
  }

  #cta-bottom {
    background-color: var(--blurple);
    width: 100%;
    min-height: 200px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1232px;
    margin: 0 auto;

    h2 {
      color: white;
      font-size: 6rem;
      margin-top: 96px;
      margin-bottom: 48px;
      letter-spacing: -3.84px;
      line-height: 88px;
      max-width: 1040px;
    }

    > svg {
      display: none;
      fill: white;
    }

    div {
      display: flex;
      justify-content: space-between;

      svg {
        fill: white;
      }

      a.button {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        font-size: 1.5rem;
        min-width: 180px;
        border-width: 1px;
        white-space: nowrap;
        align-self: flex-start;
        column-gap: 8px;
        justify-content: center;
        flex-shrink: 0;
        background: white;
        color: var(--ink) !important;
        padding: 24px;

        svg {
          fill: var(--blurple);
          width: 1rem;
          height: 1rem;
        }
      }
    }

    @media screen and (max-width: 767px) {
      h2 {
        font-size: 2.5rem;
        margin-top: 30px;
        margin-bottom: 30px;
        letter-spacing: -1.6px;
        line-height: 38px;
      }

      > svg {
        display: block;
        padding-top: 32px;
      }

      div {
        > svg {
          display: none;
        }

        a.button {
          width: 100%;
          font-size: 1.125rem !important;
        }
      }
    }
  }
}
