/* 
Styles for pages that show course information, including:
- body.sj-page-detail-course = course description page (not logged in + logged in - but not signed up)
- body.sj-page-curriculum = course description page (logged in + signed up)
*/

body.sj-page-detail-course,
body.sj-page-curriculum {
  .course-card {
    font-family: inherit !important;
    max-width: 368px !important;
    margin: var(--spacing-px-20) auto !important;
    margin-bottom: var(--spacing-px-50) !important;
    border-radius: var(--spacing-px-8) !important;
    background-color: var(--primary-white-hex) !important;
    border: 2px solid var(--blurple) !important;
    display: flex !important;
    flex-direction: column !important;
    color: inherit !important;
    align-self: start !important;
    position: sticky !important;
    top: 100px !important;

    h3 {
      font-size: var(--font-size-base) !important;
      font-weight: var(--font-weight-bold) !important;
      font-family: Gellix;
      line-height: var(--line-height-20);
      letter-spacing: -0.01em;
      border-bottom: 2px solid var(--blurple) !important;
      padding: var(--spacing-px-24);
      margin: var(--spacing-0);
    }

    ul {
      list-style: none;
      padding: var(--spacing-px-24) var(--spacing-px-24) 0 var(--spacing-px-24);
      margin: 0;
      margin-bottom: var(--spacing-px-16);

      li {
        margin-bottom: var(--spacing-px-8);
        display: flex;
        align-items: start !important;
        gap: var(--gap-3);

        &::before {
          content: "ï€Œ";
          font: normal normal normal 14px/1 FontAwesome;
          font-size: var(--font-size-sm);
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translateY(5px);
        }

        p {
          font-size: var(--font-size-base);
          font-weight: var(--font-weight-normal);
          line-height: var(--line-height-24);
          margin: var(--spacing-0);
        }
      }
    }

    a {
      margin: 0 var(--spacing-px-20) 1.25em;

      &.completed {
        background-color: green !important;
        cursor: default !important;
      }
    }

    p.completed-subtext {
      padding: var(--spacing-0) var(--spacing-px-20) var(--spacing-px-20) var(--spacing-0) !important;
      font-size: var(--font-size-xs) !important;
      font-family: Roobert !important;
      margin: 0 var(--spacing-px-24) !important;
      color: green !important;
    }
  }

  .tabs {
    visibility: visible;
    margin: 0 0 var(--spacing-px-46) 0;

    @media screen and (max-width: 991px) {
      margin: 96px 0 var(--spacing-px-46) 0;
    }

    section {
      .title {
        display: none !important; /* Hide all section titles ("About this course", "Curriculum") */
      }

      .content {
        background-color: transparent !important;

        ul {
          list-style-position: outside;
          padding-inline-start: 30px;
        }
      }

      &:nth-child(1) {
        /* Curriculum section */
        padding: 0 !important;

        h2 {
          /* "Curriculum" header */

          font-weight: var(--font-weight-semibold); /* TODO: this seems unnecessary */
          display: none !important;
        }

        .content {
          /* Curriculum content wrapper */
          border: 0;
          padding: 0;
        }
      }

      &:nth-child(2) {
        /* Course details section */
        margin-top: var(--spacing-px-48);
        padding: 0 !important;

        h3 {
          /* "About" header */

          font-weight: var(--font-weight-semibold);
        }

        .content {
          /* Course details content wrapper */
          border: 0;
          padding: 0;
        }
      }
    }
  }

  #curriculum-section {
    hr {
      display: none !important;
    }
  }

  ul.dp-curriculum {
    padding-left: 0;
  }

  .curriculum-wrapper {
    /* Each section of the curriculum has it's own wrapper */
    border-radius: 8px;
    margin-bottom: 28px;
    padding: 0px;
    border: 2px solid var(--blurple);

    h3 {
      /* Section heading */
      display: flex;
      align-items: center;
      padding: var(--spacing-px-24);
      margin: 0px;
      font-family: Gellix;
      color: var(--ink) !important;
      font-size: var(--font-size-md) !important;
      font-weight: var(--font-weight-bold) !important;
      line-height: 125%;
      border-bottom: 2px solid var(--blurple);

      > a {
        /* Special case: header when no lessons */
        font-weight: inherit;
        padding: 0;
        font-size: var(--font-size-md) !important;

        &:hover {
          background-color: unset;
        }
      }
    }

    a {
      /* Section lesson */
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      font-family: inherit;
      color: var(--ink) !important;
      padding: var(--spacing-px-24);
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-normal);
      line-height: 150%;
      border-bottom: 2px solid var(--blurple);
      height: 100%;

      .fa-check-circle {
        color: green !important;
      }

      &:hover {
        background-color: var(--gradient-end);
      }

      &:last-child {
        border-bottom: 0;
        border-radius: 8px;
      }

      i {
        /* TODO: is this legacy? */
        margin-right: 12px;
        color: var(--blurple);
      }
    }
  }
}

body.sj-page-detail-course {
  /* body.sj-page-detail-course = course description page (logged in + not logged in) */

  .large-6 {
    width: 100% !important;
    border: unset !important;

    .sj-course-info-wrapper {
      max-width: 80% !important;

      .social-media-wrapper {
        display: none !important;
      }
    }

    .inline-collapsible-section {
      margin: 20px 0;

      label h5 {
        color: lightgray !important;
      }

      .inline-collapsible-section__label__icons__expand,
      .inline-collapsible-section__label__icons__collapse {
        background-color: lightgray !important;
      }
    }
  }

  .top-row-grey {
    /* Header container */
    background-color: var(--form-bg) !important;
    margin: 0;
    max-width: none;
    padding-top: 96px;
    padding-bottom: 96px;
    border: 0;

    @media screen and (max-width: 991px) {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    .d-flex-center-v2 {
      justify-content: start;

      .dp-row-flex-v2 {
        /* All header content */
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: start;
        gap: var(--gap-6);
        max-width: 1188px;

        @media screen and (max-width: 991px) {
          flex-direction: column-reverse;
        }

        .dp-promo-image-wrapper {
          /* Course image */
          display: none !important;

          @media screen and (max-width: 991px) {
            padding: 0px;
            max-width: none;
            width: 100%;
          }
        }

        .dp-summary-wrapper {
          /* Text content in header */
          border: 0px;
          max-width: 564px;
          width: auto;

          @media screen and (max-width: 991px) {
            max-width: none;
            width: 100%;
          }

          h1.break-word {
            /* Course title */
            font-size: var(--font-size-3xl);
            font-weight: var(--font-weight-semibold);
            line-height: 43.2px;
            letter-spacing: -0.02em;
            margin: 0 0 12px 0;

            @media screen and (max-width: 991px) {
              font-size: var(--font-size-2xl);
              line-height: 40px;
            }
          }

          .video-max {
            /* Video container */
            max-width: none;
            padding-left: 0px;
            padding-right: 0px;

            @media screen and (max-width: 991px) {
              padding-left: 15px;
              padding-right: 15px;
            }
          }

          .sj-course-info-wrapper {
            /* display: none !important; */

            .social-media-wrapper {
              display: none !important;
            }

            h2 {
              font-weight: var(--font-weight-medium) !important;
            }
          }

          #purchase-button-wrapper-large {
            /* Register/sign up/resume button wrapper */
            justify-content: left !important;

            .signin {
              /* Sign in link */
              display: none !important;
            }

            .sj-save-toggle-centered {
              justify-content: inherit !important;
            }
          }
        }
      }
    }
  }
}

body.sj-page-curriculum {
  .top-row-grey {
    .dp-row-flex-v2 {
      .cp-summary-wrapper {
        h2.cp-lessons,
        .progress-bar {
          display: none !important; /* Hide "X of Y lessons completed (Z%)" and progress bar */
        }

        #resume-button {
          padding: 0 0.9375em;
        }
      }
    }
  }
}
