/* Styles that apply to both course and learning path pages */

body.sj-page-detail-path,
body.sj-page-series,
body.sj-page-detail-course,
body.sj-page-curriculum {
  /*
  body.sj-page-detail-path: isPathUnregistered
  body.sj-page-series: isPathRegistered
  body.sj-page-detail-course: isCourseUnregistered
  body.sj-page-curriculum: isCourseRegistered
  */

  .top-row-grey {
    padding: 96px 0;
    border: 0;
    background-color: #fef6ff9c !important;
    max-width: 100%;

    .d-flex-center-v2 {
      justify-content: start;

      .cp-summary-row-v2 {
        width: 100% !important;
      }
    }

    .row.dp-row-flex-v2 {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: start;
      gap: 24px;
      max-width: 1188px;

      .cp-promo-image-wrapper,
      .dp-promo-image-wrapper {
        /* Course image */
        display: none !important;
      }

      .columns.cp-summary-wrapper,
      .columns.dp-summary-wrapper {
        max-width: 100% !important;
        width: 100%;
        border: 0;
        text-align: left !important;
        padding: 0 !important;

        .sj-course-info-wrapper {
          display: none !important;
        }

        .sj-floater-text {
          display: block !important;
          font-family: Roobert;
          font-weight: 700;
          font-size: 16px;
          line-height: 23.7px;
          color: #7545fb;
        }

        .sj-heading-paragraph {
          display: block !important;
          margin: 0 0 24px 0;
          max-width: 80%;
          color: black !important;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        h1.break-word {
          margin: 0 0 12px 0;
          font-size: 36px;
          font-weight: 600;
          line-height: 43.2px;
          letter-spacing: -0.02em;
          color: black !important;
        }
      }
    }
  }

  #dp-details-bundle {
    max-width: 1188px;
    padding: 96px 0 96px 0 !important;
    margin: 0 auto;
    border-bottom: 1px solid var(--neutral-border);

    .row {
      padding: 0;

      .columns {
        padding: 0;
      }
    }
  }
}
