/* Styles that apply to both course and learning path pages */

body.sj-page-detail-path,
body.sj-page-series,
body.sj-page-detail-course,
body.sj-page-curriculum {
  /*
  body.sj-page-detail-path: isPathUnregistered
  body.sj-page-series: isPathRegistered
  body.sj-page-detail-course: isCourseUnregistered
  body.sj-page-curriculum: isCourseRegistered
  */

  .top-row-grey {
    padding: 96px 0;
    border: 0;
    background-color: #fef6ff9c !important;
    max-width: 100%;

    .d-flex-center-v2 {
      justify-content: start;
      max-width: 1152px;

      .cp-summary-row-v2 {
        width: 100% !important;
      }
    }

    .row.dp-row-flex-v2 {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: start;
      gap: 24px;
      max-width: 1188px;

      .cp-promo-image-wrapper,
      .dp-promo-image-wrapper {
        /* Course image */
        display: none !important;
      }

      .columns.cp-summary-wrapper,
      .columns.dp-summary-wrapper {
        position: static;
        max-width: 100% !important;
        width: 100%;
        border: 0;
        text-align: left !important;
        padding: 0 !important;

        /* .sj-course-info-wrapper {
          display: none !important;
        } */

        .sj-floater-text {
          display: block !important;
          font-family: Roobert;
          font-weight: 700;
          font-size: 16px;
          line-height: 23.7px;
          color: #7545fb;
        }

        .sj-heading-paragraph,
        .sj-course-info-wrapper h2 {
          display: block !important;
          margin: 0 0 24px 0;
          max-width: 80%;
          color: var(--ink) !important;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        h1.break-word {
          margin: 0 0 12px 0;
          font-size: 36px;
          font-weight: 600;
          line-height: 43.2px;
          letter-spacing: -0.02em;
          color: var(--ink) !important;
        }
      }
    }
  }

  #dp-details,
  #cp-content {
    /* Page content */
    max-width: min(1188px, 90%);
    margin: 96px auto 46px auto;
    display: grid;
    grid-template-columns: minmax(100px, 796px) minmax(100px, 368px);
    column-gap: 24px;
    padding: 0;

    @media screen and (max-width: 991px) {
      margin: 72px auto -10px auto;
      grid-template-columns: 1fr;
    }

    .show-for-small {
      /* Mobile body content - hide it! */
      display: none !important;
    }

    .hide-for-small {
      /* Desktop body content */
      padding: 0px;
      max-width: 796px;
      display: grid !important;

      .columns {
        /* Two columns: content + curriculum */
        float: none;
        padding: 0;
        width: 100%;
        display: block;
        margin-bottom: 48px;

        h3 {
          /* Headers in content + curriculum */
          font-weight: 600;
        }
      }

      .columns.sj-curriculum-wrapper {
        /* Curriculum wrapper */

        ul.dp-curriculum {
          margin: 0;
        }

        h3 {
          /* This used to be a header in the curriculum list, no longer used (since v2.1) */
          display: none !important;
        }
      }
    }
  }

  #dp-details-bundle {
    max-width: 1188px;
    padding: 96px 0 96px 0 !important;
    margin: 0 auto;
    border-bottom: 1px solid var(--neutral-border);

    .row {
      padding: 0;

      .columns {
        padding: 0;
      }
    }
  }
}
