/* Styles that apply to both course and learning path pages */

body.sj-page-detail-path,
body.sj-page-series,
body.sj-page-detail-course,
body.sj-page-curriculum {
  /*
  body.sj-page-detail-path: isPathUnregistered
  body.sj-page-series: isPathRegistered
  body.sj-page-detail-course: isCourseUnregistered
  body.sj-page-curriculum: isCourseRegistered
  */

  .top-row-grey {
    padding: var(--space-24) var(--space-0);
    border: var(--no-border);
    background-color: var(--purple-pastel-61) !important;
    max-width: 100%;

    @media screen and (width <= 1320px) {
      padding: 56px 8vw;
    }

    .d-flex-center-v2 {
      justify-content: start;
      max-width: 1188px;

      .cp-summary-row-v2 {
        width: 100% !important;
      }
    }

    .row.dp-row-flex-v2 {
      display: flex;
      flex-flow: row-reverse nowrap;
      justify-content: start;
      gap: 24px;
      max-width: 1188px;

      .cp-promo-image-wrapper,
      .dp-promo-image-wrapper {
        /* Course image */
        display: none !important;
      }

      .columns.cp-summary-wrapper,
      .columns.dp-summary-wrapper {
        position: static;
        width: 100%;
        padding: var(--space-0) !important;
        border: var(--no-border);
        text-align: left !important;
        max-width: 100% !important;

        /* .sj-course-info-wrapper {
          display: none !important;
        } */

        .sj-floater-text {
          display: block !important;
          color: var(--label-color);
          font-family: Roobert;
          font-size: var(--font-size-base); /* 16px */
          font-weight: var(--font-bold);
          line-height: 23.7px;
        }

        .sj-heading-paragraph,
        .sj-course-info-wrapper h2 {
          display: block !important;
          margin: 0 0 24px;
          color: var(--ink) !important;
          font-family: "Roobert";
          font-size: var(--font-size-base); /* 16px */
          font-weight: var(--font-normal);
          line-height: 24px;
          max-width: 80%;
        }

        h1.break-word {
          margin: 0 0 12px;
          color: var(--ink) !important;
          font-size: var(--font-size-4xl); /* 36px */
          font-weight: var(--font-semibold);
          line-height: 43.2px;
          letter-spacing: -0.02em;
        }
      }
    }
  }

  #dp-details,
  #cp-content {
    display: grid;
    margin: 96px auto 46px;
    padding: var(--space-0);

    /* Page content */
    max-width: min(1188px, 90%);
    grid-template-columns: minmax(100px, 796px) minmax(100px, 368px);
    column-gap: 24px;

    @media screen and (width <= 991px) {
      margin: 72px auto -10px;
      grid-template-columns: 1fr;
    }

    .show-for-small {
      /* Mobile body content - hide it! */
      display: none !important;
    }

    .hide-for-small {
      display: grid !important;

      /* Desktop body content */
      padding: var(--space-0);
      max-width: 796px;

      .columns {
        display: block;
        width: 100%;
        padding: var(--space-0);

        /* Two columns: content + curriculum */
        float: none;
        margin-bottom: 48px;

        h3 {
          /* Headers in content + curriculum */
          font-weight: var(--font-semibold);
        }
      }
    }

    .large-10.large-centered.columns.tabs-wrapper-v2 {
      width: 796px;
      margin: 0;
    }
  }

  #dp-details-bundle {
    margin: 0 auto;
    padding: var(--space-24) var(--space-0) !important;
    max-width: 1188px;
    border-bottom: var(--border-style-default);

    @media screen and (width <= 1320px) {
      padding: 56px 8vw !important;
    }

    .row {
      padding: var(--space-0);

      .columns {
        padding: var(--space-0);
      }
    }
  }
}
