/* 
Styles for pages that show course information, including:
- body.sj-page-detail-course = course description page (not logged in + logged in - but not signed up)
- body.sj-page-curriculum = course description page (logged in + signed up)
*/

body.sj-page-detail-course,
body.sj-page-curriculum {
  .course-card {
    position: sticky !important;
    top: 100px !important;
    display: flex !important;
    flex-direction: column !important;
    margin: 20px auto !important;
    border: var(--border-width-medium) solid var(--blurple) !important;
    border-radius: var(--radius-md) !important;
    color: inherit !important;
    font-family: inherit !important;
    max-width: 368px !important;
    margin-bottom: 50px !important;
    background-color: var(--primary-white-hex) !important;
    align-self: start !important;

    h3 {
      margin: 0;
      padding: var(--space-6);
      font-family: Gellix;
      font-size: var(--font-size-base) !important; /* 16px */
      font-weight: 700 !important;
      line-height: 20px;
      letter-spacing: -0.01em;
      border-bottom: var(--border-width-medium) solid var(--blurple) !important;
    }

    ul {
      margin: 0;
      padding: var(--space-6) var(--space-6) var(--space-0);
      list-style: none;
      margin-bottom: 16px;

      li {
        margin-bottom: 8px;
        display: flex;
        align-items: start !important;
        gap: 12px;

        &::before {
          content: "ï€Œ";
          font: normal normal normal 14px/1 FontAwesome;
          font-size: var(--font-size-sm);
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translateY(5px);
        }

        p {
          margin: 0;
          font-size: var(--font-size-base); /* 16px */
          font-weight: 400;
          line-height: 24px;
        }
      }
    }

    a {
      margin: 0 20px 1.25em;

      &.completed {
        background-color: green !important;
        cursor: default !important;
      }
    }

    p.completed-subtext {
      margin: 0 24px !important;
      padding: 0 20px 20px 0 !important;
      color: green !important;
      font-family: Roobert !important;
      font-size: var(--font-size-xs) !important; /* 12px */
    }
  }

  .tabs {
    visibility: visible;
    margin: 0 0 46px;

    @media screen and (width <= 991px) {
      margin: 96px 0 46px;
    }

    section {
      .title {
        display: none !important; /* Hide all section titles ("About this course", "Curriculum") */
      }

      .content {
        background-color: transparent !important;

        ul {
          list-style-position: outside;
          padding-inline-start: 30px;
        }
      }

      &:nth-child(1) {
        /* Curriculum section */
        padding: var(--space-0) !important;

        h2 {
          display: none !important;

          /* "Curriculum" header */

          font-weight: 600; /* TODO: this seems unnecessary */
        }

        .content {
          padding: var(--space-0);

          /* Curriculum content wrapper */
          border: 0;
        }
      }

      &:nth-child(2) {
        /* Course details section */
        margin-top: 48px;
        padding: var(--space-0) !important;

        h3 {
          /* "About" header */

          font-weight: 600;
        }

        .content {
          padding: var(--space-0);

          /* Course details content wrapper */
          border: 0;
        }
      }
    }
  }

  #curriculum-section {
    hr {
      display: none !important;
    }
  }

  ul.dp-curriculum {
    padding-left: 0;
  }

  .curriculum-wrapper {
    padding: var(--space-0);
    border: var(--border-width-medium) solid var(--blurple);

    /* Each section of the curriculum has it's own wrapper */
    border-radius: var(--radius-md);
    margin-bottom: 28px;

    h3 {
      /* Section heading */
      display: flex;
      align-items: center;
      margin: 0;
      padding: var(--space-6);
      color: var(--ink) !important;
      font-family: Gellix;
      font-size: var(--font-size-lg) !important; /* 18px */
      font-weight: 700 !important;
      line-height: 125%;
      border-bottom: var(--border-width-medium) solid var(--blurple);

      > a {
        padding: var(--space-0);
        font-size: var(--font-size-lg) !important; /* 18px */

        /* Special case: header when no lessons */
        font-weight: inherit;

        &:hover {
          background-color: unset;
        }
      }
    }

    a {
      /* Section lesson */
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      padding: var(--space-6);
      color: var(--ink) !important;
      font-family: inherit;
      font-size: var(--font-size-base); /* 16px */
      font-weight: 400;
      line-height: 150%;
      border-bottom: var(--border-width-medium) solid var(--blurple);

      .fa-check-circle {
        color: green !important;
      }

      &:hover {
        background-color: var(--gradient-end);
      }

      &:last-child {
        border-bottom: 0;
        border-radius: var(--radius-md);
      }

      i {
        /* TODO: is this legacy? */
        margin-right: 12px;
        color: var(--blurple);
      }
    }
  }
}

body.sj-page-detail-course {
  /* body.sj-page-detail-course = course description page (logged in + not logged in) */

  .large-6 {
    width: 100% !important;
    border: unset !important;

    .sj-course-info-wrapper {
      max-width: 80% !important;

      .social-media-wrapper {
        display: none !important;
      }
    }

    .inline-collapsible-section {
      margin: 20px 0;

      label h5 {
        color: lightgray !important;
      }

      .inline-collapsible-section__label__icons__expand,
      .inline-collapsible-section__label__icons__collapse {
        background-color: lightgray !important;
      }
    }
  }

  .top-row-grey {
    /* Header container */
    background-color: var(--form-bg) !important;
    margin: 0;
    max-width: none;
    padding-top: var(--space-24);
    padding-bottom: var(--space-24);
    border: 0;

    @media screen and (width <= 991px) {
      padding-top: var(--space-12);
      padding-bottom: var(--space-12);
    }

    .d-flex-center-v2 {
      justify-content: start;

      .dp-row-flex-v2 {
        /* All header content */
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: start;
        gap: 24px;
        max-width: 1188px;

        @media screen and (width <= 991px) {
          flex-direction: column-reverse;
        }

        .dp-promo-image-wrapper {
          /* Course image */
          display: none !important;

          @media screen and (width <= 991px) {
            width: 100%;
            padding: var(--space-0);
            max-width: none;
          }
        }

        .dp-summary-wrapper {
          width: auto;

          /* Text content in header */
          border: 0;
          max-width: 564px;

          @media screen and (width <= 991px) {
            max-width: none;
            width: 100%;
          }

          h1.break-word {
            margin: 0 0 12px;

            /* Course title */
            font-size: var(--font-size-4xl); /* 36px */
            font-weight: 600;
            line-height: 43.2px;
            letter-spacing: -0.02em;

            @media screen and (width <= 991px) {
              font-size: var(--font-size-3xl);
              line-height: 40px;
            }
          }

          .video-max {
            /* Video container */
            max-width: none;
            padding-left: 0;
            padding-right: 0;

            @media screen and (width <= 991px) {
              padding-left: 15px;
              padding-right: 15px;
            }
          }

          .sj-course-info-wrapper {
            /* display: none !important; */

            .social-media-wrapper {
              display: none !important;
            }

            h2 {
              font-weight: 500 !important;
            }
          }

          #purchase-button-wrapper-large {
            /* Register/sign up/resume button wrapper */
            justify-content: left !important;

            .signin {
              /* Sign in link */
              display: none !important;
            }

            .sj-save-toggle-centered {
              justify-content: inherit !important;
            }
          }
        }
      }
    }
  }
}

body.sj-page-curriculum {
  .top-row-grey {
    .dp-row-flex-v2 {
      .cp-summary-wrapper {
        h2.cp-lessons,
        .progress-bar {
          display: none !important; /* Hide "X of Y lessons completed (Z%)" and progress bar */
        }

        #resume-button {
          padding: 0 0.9375em;
        }
      }
    }
  }
}
