/* Styles that apply to both course and learning path pages */

body.sj-page-detail-path,
body.sj-page-series,
body.sj-page-detail-course,
body.sj-page-curriculum {
  /*
  body.sj-page-detail-path: isPathUnregistered
  body.sj-page-series: isPathRegistered
  body.sj-page-detail-course: isCourseUnregistered
  body.sj-page-curriculum: isCourseRegistered
  */

  .top-row-grey {
    max-width: 100%;
    padding: var(--spacing-24) var(--spacing-0);
    border: var(--border-width-none);
    background-color: var(--color-card-bg-light)9c !important;

    @media screen and (max-width: 1320px) {
      padding: 56px 8vw;
    }

    .d-flex-center-v2 {
      justify-content: start;
      max-width: 1188px;

      .cp-summary-row-v2 {
        width: 100% !important;
      }
    }

    .row.dp-row-flex-v2 {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: start;
      gap: var(--gap-6);
      max-width: 1188px;

      .cp-promo-image-wrapper,
      .dp-promo-image-wrapper {
        /* Course image */
        display: none !important;
      }

      .columns.cp-summary-wrapper,
      .columns.dp-summary-wrapper {
        position: static;
        width: 100%;
        max-width: 100% !important;
        padding: var(--spacing-0) !important;
        border: var(--border-width-none);
        text-align: left !important;

        /* .sj-course-info-wrapper {
          display: none !important;
        } */

        .sj-floater-text {
          display: block !important;
          color: var(--color-brand-violet);
          font-family: Roobert, monospace;
          font-size: var(--font-size-base);
          font-weight: var(--font-weight-bold);
          line-height: var(--line-height-23-7);
        }

        .sj-heading-paragraph,
        .sj-course-info-wrapper h2 {
          display: block !important;
          max-width: 80%;
          margin: var(--spacing-0) var(--spacing-0) var(--spacing-px-24) 0;
          color: var(--ink) !important;
          font-family: Roobert, monospace;
          font-size: var(--font-size-base);
          font-weight: var(--font-weight-normal);
          line-height: var(--line-height-24);
        }

        h1.break-word {
          margin: var(--spacing-0) var(--spacing-0) var(--spacing-px-12) 0;
          color: var(--ink) !important;
          font-size: var(--font-size-3xl);
          font-weight: var(--font-weight-semibold);
          line-height: var(--line-height-43-2);
          letter-spacing: var(--letter-spacing-snug);
        }
      }
    }
  }

  #dp-details,
  #cp-content {
    display: grid;
    column-gap: var(--gap-6);
    grid-template-columns: minmax(100px, 796px) minmax(100px, 368px);
    /* Page content */
    max-width: min(1188px, 90%);
    padding: var(--spacing-0);
    margin: 96px auto var(--spacing-px-46) auto;

    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      margin: 72px auto -10px auto;
    }

    .show-for-small {
      /* Mobile body content - hide it! */
      display: none !important;
    }

    .hide-for-small {
      display: grid !important;
      max-width: 796px;
      /* Desktop body content */
      padding: var(--spacing-0);

      .columns {
        display: block;
        /* Two columns: content + curriculum */
        float: none;
        width: 100%;
        padding: var(--spacing-0);
        margin-bottom: var(--spacing-px-48);

        h3 {
          /* Headers in content + curriculum */
          font-weight: var(--font-weight-semibold);
        }
      }
    }

    .large-10.large-centered.columns.tabs-wrapper-v2 {
      width: 796px;
      margin: var(--spacing-0);
    }
  }

  #dp-details-bundle {
    max-width: 1188px;
    padding: var(--spacing-24) var(--spacing-0) !important;
    margin: var(--spacing-0) auto;
    border-bottom: 1px solid var(--neutral-border);

    @media screen and (max-width: 1320px) {
      padding: 56px 8vw !important;
    }

    .row {
      padding: var(--spacing-0);

      .columns {
        padding: var(--spacing-0);
      }
    }
  }
}
