/* 
Styles for pages that show course information, including:
- body.sj-page-detail-course = course description page (not logged in + logged in - but not signed up)
- body.sj-page-curriculum = course description page (logged in + signed up)
*/

body.sj-page-detail-course,
body.sj-page-curriculum {
  .course-card {
    font-family: inherit !important;
    max-width: 368px !important;
    margin: 20px auto !important;
    margin-bottom: 50px !important;
    border-radius: 8px !important;
    background-color: var(--primary-white-hex) !important;
    border: 2px solid var(--blurple) !important;
    display: flex !important;
    flex-direction: column !important;
    color: inherit !important;
    align-self: start !important;
    position: sticky !important;
    top: 100px !important;

    h3 {
      font-size: 16px !important;
      font-weight: 700 !important;
      font-family: Gellix;
      line-height: 20px;
      letter-spacing: -0.01em;
      border-bottom: 2px solid var(--blurple) !important;
      padding: 24px;
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 24px 24px 0 24px;
      margin: 0;
      margin-bottom: 16px;

      li {
        margin-bottom: 8px;
        display: flex;
        align-items: start !important;
        gap: 12px;

        &::before {
          content: "ï€Œ";
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 14px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translateY(5px);
        }

        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin: 0;
        }
      }
    }

    a {
      /* background-color: var(--blurple) !important;
      color: var(--primary-white-hex) !important;
      padding: 12px 20px !important;
      text-align: center !important;
      text-decoration: none !important;
      display: inline-block;
      font-size: 16px !important;
      font-family: Roobert !important;
      border-radius: 999px !important;
      cursor: pointer !important;
      margin: 0 24px !important;
      margin-bottom: 24px !important;
      transition: all 0.2s !important;

      &:visited {
        background-color: var(--blurple);
        color: var(--primary-white-hex);
      }

      &:hover,
      &:active {
        background-color: var(--blurple);
        color: var(--primary-white-hex);
      } */
      margin: 0 20px 1.25em;
    }

    .course-details-card-link.completed,
    .button.completed {
      background-color: green !important;
      cursor: default !important;
    }

    .completed-subtext {
      padding: 0px 20px 20px 0px !important;
      font-size: 12px !important;
      font-family: Roobert !important;
      margin: 0 24px !important;
      color: green !important;
    }
  }
}

body.sj-page-curriculum:not(:has(.cp-certificate)) {
  /* Non-certificate issued course description (signed up) styles */

  .top-row-grey {
    /* Header container */
    max-width: none;
    padding: 0;
    border: 0;

    .dp-row-flex-v2 {
      /* All header content */
      display: flex;
      margin: 96px 0;
      justify-content: center;
      flex-wrap: nowrap;
      gap: 24px;

      @media screen and (max-width: 991px) {
        flex-wrap: wrap;
      }

      .cp-summary-wrapper {
        position: static;
        padding: 0;
        border: 0;
        text-align: left;
        max-width: 564px;

        @media screen and (max-width: 991px) {
          max-width: none;
          width: 90%;
          margin-bottom: 32px;
        }

        h2.cp-lessons {
          display: none !important;
        }

        .progress-bar {
          display: none !important;
        }

        .sj-floater-text {
          display: block;
        }

        .sj-heading-paragraph {
          display: block;
        }

        h1.break-word {
          /* Course title */
          font-size: 36px;
          font-weight: 600;
          line-height: 43.2px;
          letter-spacing: -0.02em;
          margin: 0 0 12px 0;
        }

        #resume-button {
          margin-left: 0px;
          margin-right: 0px;
        }
      }

      .cp-promo-image-wrapper {
        position: static;
        padding: 0;
        width: 564px;
        height: auto;

        @media screen {
          width: 90%;
        }

        .cp-promo-image {
          max-height: none;

          img {
            max-height: none;
            height: auto;
            max-width: 100%;
          }
        }
      }
    }
  }

  #cp-content {
    /* Page content for signed up users */
    display: grid;
    grid-template-columns: minmax(100px, 760px) minmax(100px, 368px);
    margin-top: 96px;
    column-gap: 24px;
    padding-top: 0;
    padding-bottom: 0;

    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      width: 90%;
    }

    .columns {
      width: 100%;
    }

    .tabs {
      margin: 0 0 46px 0;

      @media screen and (max-width: 991px) {
        margin: 96px 0 46px 0;
      }

      section .title {
        /* Section titles */

        display: none !important;
      }

      section:nth-child(1) {
        /* Curriculum section */
        padding: 0 !important;

        h2 {
          /* "Curriculum" header */

          font-weight: 600; /* TODO: this seems unnecessary */
          display: none !important;
        }

        .content {
          /* Curriculum content wrapper */
          border: 0;
          padding: 0;
        }
      }

      section:nth-child(2) {
        /* Course details section */
        margin-top: 48px;
        padding: 0 !important;

        h3 {
          /* "About" header */

          font-weight: 600;
        }

        .content {
          /* Course details content wrapper */
          border: 0;
          padding: 0;
        }
      }
    }

    .course-details-card {
      /* Course details card styling */
      margin: 96px 0 46px 0;

      @media screen and (max-width: 991px) {
        margin: 32px 0 56px 0;
        justify-self: center;
      }
    }
  }
}

body.sj-page-detail-course {
  /* body.sj-page-detail-course = course description page (logged in + not logged in) */

  .large-6 {
    width: 100% !important;
    border: unset !important;

    .sj-course-info-wrapper {
      max-width: 80% !important;

      .social-media-wrapper {
        display: none !important;
      }
    }

    .inline-collapsible-section {
      margin: 20px 0;

      label h5 {
        color: lightgray !important;
      }

      .inline-collapsible-section__label__icons__expand,
      .inline-collapsible-section__label__icons__collapse {
        background-color: lightgray !important;
      }
    }
  }

  .top-row-grey {
    /* Header container */
    background-color: var(--form-bg) !important;
    margin: 0;
    max-width: none;
    padding-top: 96px;
    padding-bottom: 96px;
    border: 0;

    @media screen and (max-width: 991px) {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    .d-flex-center-v2 {
      justify-content: start;

      .dp-row-flex-v2 {
        /* All header content */
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: start;
        gap: 24px;
        max-width: 1188px;

        @media screen and (max-width: 991px) {
          flex-direction: column-reverse;
        }

        .dp-promo-image-wrapper {
          /* Course image */
          display: none !important;

          @media screen and (max-width: 991px) {
            padding: 0px;
            max-width: none;
            width: 100%;
          }
        }

        .dp-summary-wrapper {
          /* Text content in header */
          border: 0px;
          max-width: 564px;
          width: auto;

          @media screen and (max-width: 991px) {
            max-width: none;
            width: 100%;
          }

          .sj-floater-text {
            /* Type, e.g. Course/Learning Path */
            display: block;
            /* margin-bottom: 24px; */
          }

          h1.break-word {
            /* Course title */
            font-size: 36px;
            font-weight: 600;
            line-height: 43.2px;
            letter-spacing: -0.02em;
            margin: 0 0 12px 0;

            @media screen and (max-width: 991px) {
              font-size: 30px;
              line-height: 40px;
            }
          }

          .video-max {
            /* Video container */
            max-width: none;
            padding-left: 0px;
            padding-right: 0px;

            @media screen and (max-width: 991px) {
              padding-left: 15px;
              padding-right: 15px;
            }
          }

          .sj-heading-paragraph {
            /* Course description */
            display: block;
            margin: 0 0 24px 0;
          }

          .sj-course-info-wrapper {
            /* display: none !important; */

            .social-media-wrapper {
              display: none !important;
            }

            h2 {
              font-weight: 500 !important;
            }
          }

          #purchase-button-wrapper-large {
            /* Register/sign up/resume button wrapper */
            justify-content: left !important;

            .signin {
              /* Sign in link */
              display: none !important;
            }

            .sj-save-toggle-centered {
              justify-content: inherit !important;
            }
          }
        }
      }
    }
  }

  #dp-details {
    /* Page content for users who haven't signed up for the course */
    max-width: min(1152px, 90%);
    margin: 96px auto 46px auto;
    display: grid;
    grid-template-columns: minmax(100px, 760px) minmax(100px, 368px);
    column-gap: 24px;

    @media screen and (max-width: 991px) {
      margin: 72px auto -10px auto;
      grid-template-columns: 1fr;
    }

    .show-for-small {
      /* Mobile body content - hide it! */
      display: none !important;
    }

    .hide-for-small {
      /* Desktop body content */
      padding: 0px;
      max-width: 760px;
      display: grid !important;

      .columns {
        /* Two columns: content + curriculum */
        float: none;
        padding: 0;
        width: 100%;
        display: block;
        margin-bottom: 48px;

        h3 {
          /* Headers in content + curriculum */
          font-weight: 600;
        }
      }

      .columns.sj-curriculum-wrapper {
        /* Curriculum wrapper */

        ul.dp-curriculum {
          margin: 0;
        }

        h3 {
          /* This used to be a header in the curriculum list, no longer used (since v2.1) */
          display: none !important;
        }
      }
    }

    .course-details-card {
      /* Course details card */
      margin: 0 0 46px 0;
      justify-self: center;
    }
  }
}

/* Curriculum list */
body.sj-page-curriculum {
  #curriculum-section {
    .curriculum-wrapper {
      /* Each section of the curriculum has it's own wrapper */
      border-radius: 8px;
      margin-bottom: 28px;
      padding: 0px;
      border: 2px solid var(--blurple);

      h3 {
        /* Section heading */
        display: flex;
        align-items: center;
        padding: 24px;
        margin: 0px;
        font-family: Gellix;
        color: var(--ink) !important;
        font-size: 18px !important;
        font-weight: 700 !important;
        line-height: 125%;
        border-bottom: 2px solid var(--blurple);

        > a {
          /* Special case: header when no lessons */
          font-weight: inherit;
          padding: 0;
          font-size: 18px !important;

          &:hover {
            background-color: unset;
          }
        }
      }

      a {
        /* Section lesson */
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        font-family: inherit;
        color: var(--ink) !important;
        padding: 24px;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        border-bottom: 2px solid var(--blurple);
        height: 100%;

        .fa-check-circle {
          color: green !important;
        }

        &:hover {
          background-color: var(--gradient-end);
        }

        &:last-child {
          border-bottom: 0;
          border-radius: 8px;
        }

        i {
          /* TODO: is this legacy? */
          margin-right: 12px;
          color: var(--blurple);
        }
      }
    }
  }
}
