footer {
  border-top: 1px solid #d0cfee;
  margin: 63px 0 0;

  .footer-content-container,
  .footer-bottom-bar {
    width: 90%;
    display: flex;
    max-width: 1232px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .footer-content-container {
    margin: 63px auto;
    gap: var(--gap-3);

    .primary-col {
      max-width: 300px;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      grid-column: 1 / -1;

      .tagline {
        p {
          color: inherit !important;
          letter-spacing: -0.12rem;
          line-height: var(--line-height-44) !important;
          font-size: var(--font-size-4xl) !important;
          max-width: 400px;
          font-family: Gellix;
          font-weight: var(--font-weight-extrabold);
          margin-bottom: 1.25em !important;
        }

        .small-logo {
          display: none;
        }
      }

      .ctas .button {
        display: inline-flex;
        align-items: center;
        gap: var(--gap-2);
        font-size: inherit;
        margin: var(--spacing-0);
      }
    }

    .footer-col {
      font-size: var(--font-size-base);
      display: flex;
      flex-direction: column;
      line-height: var(--line-height-21);

      > div + div:last-child {
        margin-top: var(--spacing-px-24);
      }

      a,
      p {
        font-family: Gellix !important;
      }

      a {
        text-decoration: none;
        display: block;
        margin: var(--spacing-px-14) 0;
        color: rgb(13 22 28 / 0.9) !important;
        font-weight: var(--font-weight-normal);
      }

      h2 {
        margin: 0 0 var(--spacing-px-15) 0;
        font-family: "Roobert";
        text-transform: uppercase;
        font-size: var(--font-size-xs);
        color: rgb(13 22 28 / 0.7) !important;
        font-weight: var(--font-weight-normal);
      }
    }

    .product-col {
      display: grid;
      flex-shrink: 0;
      grid-template-columns: 1fr;
      gap: var(--gap-8);

      a {
        display: block;
      }
    }
  }

  .footer-bottom-bar {
    align-items: center;
    height: 100px;

    .logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        fill: #14003d !important;
      }
    }

    .social-icons {
      display: flex;
      align-items: center;
      gap: var(--gap-2-5);
    }
  }

  .copyright-separator,
  .footer-copyright {
    display: none;
  }

  .footer-content-container .primary-col .copyright,
  .footer-copyright {
    font-size: var(--font-size-base);
    font-family: Gellix;
    color: rgb(13 22 28 / 0.6);

    a {
      text-decoration: none;
      color: inherit;
      font-family: Gellix;
    }
  }

  @media screen and (max-width: 768px) {
    .footer-content-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 90%;
      gap: var(--gap-6);

      .primary-col {
        max-width: 100%;

        .copyright {
          display: none;
        }

        .tagline p {
          letter-spacing: -0.08rem;
          line-height: var(--line-height-30);
          font-size: var(--font-size-2xl);
          max-width: 250px;
        }

        .ctas .button {
          padding: var(--spacing-px-24);
          font-size: var(--font-size-lg);
          margin-bottom: var(--spacing-px-32);
        }
      }
    }

    .copyright-separator,
    .footer-copyright {
      display: block;
    }

    .footer-copyright {
      margin: 63px auto;
      width: 90%;
    }
  }

  @media screen and (max-width: 480px) {
    .footer-content-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--gap-8);
      width: 100% !important;
      padding: 0 var(--spacing-px-20) 0 var(--spacing-px-20);

      .primary-col .small-logo {
        display: block !important;
        margin-bottom: var(--spacing-px-10);
      }
    }

    .footer-bottom-bar {
      .logo-container {
        display: none !important;
      }

      .social-icons {
        margin: 0 auto !important;
      }
    }
  }
}

body.sj-page-lesson footer {
  /* Hide footer on lesson pages */
  display: none !important;
}
