footer {
  border-top: 1px solid #d0cfee;
  margin: 63px 0 0;

  .footer-content-container,
  .footer-bottom-bar {
    width: 90%;
    display: flex;
    max-width: 1232px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .footer-content-container {
    margin: 63px auto;
    gap: 12px;

    .primary-col {
      max-width: 300px;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      grid-column: 1 / -1;

      .tagline {
        p {
          color: inherit !important;
          letter-spacing: -0.12rem;
          line-height: 44px !important;
          font-size: 3rem !important;
          max-width: 400px;
          font-family: Gellix;
          font-weight: 800;
          margin-bottom: 1.25em !important;
        }

        .small-logo {
          display: none;
        }
      }

      .ctas .button {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        font-size: inherit;
        margin: 0;
      }
    }

    .footer-col {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      line-height: 21px;

      > div + div:last-child {
        margin-top: 24px;
      }

      a,
      p {
        font-family: Gellix !important;
      }

      a {
        text-decoration: none;
        display: block;
        margin: 14px 0;
        color: rgb(13 22 28 / 0.9) !important;
        font-weight: 400;
      }

      h2 {
        margin: 0 0 15px 0;
        font-family: "Roobert";
        text-transform: uppercase;
        font-size: 0.75rem;
        color: rgb(13 22 28 / 0.7) !important;
        font-weight: 400;
      }
    }

    .product-col {
      display: grid;
      flex-shrink: 0;
      grid-template-columns: 1fr;
      gap: 32px;

      a {
        display: block;
      }
    }
  }

  .footer-bottom-bar {
    align-items: center;
    height: 100px;

    .logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        fill: #14003d !important;
      }
    }

    .social-icons {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .copyright-separator,
  .footer-copyright {
    display: none;
  }

  .footer-content-container .primary-col .copyright,
  .footer-copyright {
    font-size: 1rem;
    font-family: Gellix;
    color: rgb(13 22 28 / 0.6);

    a {
      text-decoration: none;
      color: inherit;
      font-family: Gellix;
    }
  }

  @media screen and (max-width: 768px) {
    .footer-content-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 90%;
      gap: 24px;

      .primary-col {
        max-width: 100%;

        .copyright {
          display: none;
        }

        .tagline p {
          letter-spacing: -0.08rem;
          line-height: 30px;
          font-size: 1.875rem;
          max-width: 250px;
        }

        .ctas .button {
          padding: 24px;
          font-size: 20px;
          margin-bottom: 32px;
        }
      }
    }

    .copyright-separator,
    .footer-copyright {
      display: block;
    }

    .footer-copyright {
      margin: 63px auto;
      width: 90%;
    }
  }

  @media screen and (max-width: 480px) {
    .footer-content-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 32px;
      width: 100% !important;
      padding: 0 20px 0 20px;

      .primary-col .small-logo {
        display: block !important;
        margin-bottom: 10px;
      }
    }

    .footer-bottom-bar {
      .logo-container {
        display: none !important;
      }

      .social-icons {
        margin: 0 auto !important;
      }
    }
  }
}
