footer {
  border-top: var(--border-width-thin) solid var(--form-bg);
  margin: 63px 0 0;

  .footer-content-container,
  .footer-bottom-bar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    max-width: 1232px;
  }

  .footer-content-container {
    gap: 12px;
    margin: 63px auto;

    .primary-col {
      max-width: 300px;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      grid-column: 1 / -1;

      .tagline {
        p {
          color: inherit !important;
          font-family: Gellix;
          font-size: var(--font-size-5xl) !important; /* 3rem = 48px */
          font-weight: var(--font-extrabold);
          line-height: 44px !important;
          letter-spacing: -0.12rem;
          max-width: 400px;
          margin-bottom: 1.25em !important;
        }

        .small-logo {
          display: none;
        }
      }

      .ctas .button {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        margin: 0;
        font-size: inherit;
      }
    }

    .footer-col {
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-base); /* 1rem = 16px */
      line-height: 21px;

      > div + div:last-child {
        margin-top: 24px;
      }

      a,
      p {
        font-family: Gellix !important;
      }

      a {
        text-decoration: none;
        display: block;
        margin: 14px 0;
        color: var(--ink-90) !important;
        font-weight: var(--font-normal);
      }

      h2 {
        margin: 0 0 15px;
        color: var(--ink-70) !important;
        font-family: "Roobert";
        font-size: var(--font-size-xs); /* 0.75rem = 12px */
        font-weight: var(--font-normal);
        text-transform: uppercase;
      }
    }

    .product-col {
      display: grid;
      flex-shrink: 0;
      grid-template-columns: 1fr;
      gap: 32px;

      a {
        display: block;
      }
    }
  }

  .footer-bottom-bar {
    align-items: center;
    height: 100px;

    .logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        fill: var(--brand-ink) !important;
      }
    }

    .social-icons {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .copyright-separator,
  .footer-copyright {
    display: none;
  }

  .footer-content-container .primary-col .copyright,
  .footer-copyright {
    color: var(--ink-60);
    font-family: Gellix;
    font-size: var(--font-size-base); /* 1rem = 16px */

    a {
      text-decoration: none;
      color: inherit;
      font-family: Gellix;
    }
  }

  @media screen and (width <= 768px) {
    .footer-content-container {
      display: grid;
      gap: 24px;
      width: 90%;
      grid-template-columns: repeat(3, 1fr);

      .primary-col {
        max-width: 100%;

        .copyright {
          display: none;
        }

        .tagline p {
          font-size: var(--font-size-3xl); /* 1.875rem = 30px */
          line-height: 30px;
          letter-spacing: -0.08rem;
          max-width: 250px;
        }

        .ctas .button {
          padding: var(--space-6);
          font-size: var(--font-size-xl);
          margin-bottom: 32px;
        }
      }
    }

    .copyright-separator,
    .footer-copyright {
      display: block;
    }

    .footer-copyright {
      width: 90%;
      margin: 63px auto;
    }
  }

  @media screen and (width <= 480px) {
    .footer-content-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 32px;
      width: 100% !important;
      padding: var(--space-0) var(--space-5);

      .primary-col .small-logo {
        display: block !important;
        margin-bottom: 10px;
      }
    }

    .footer-bottom-bar {
      .logo-container {
        display: none !important;
      }

      .social-icons {
        margin: 0 auto !important;
      }
    }
  }
}

body.sj-page-lesson footer {
  /* Hide footer on lesson pages */
  display: none !important;
}
