* {
  font-family: Roobert, Lato;
}

body {
  color: var(--ink);
}

span {
  font-family: inherit;
}

h1,
.h1-style,
h2,
.h2-style,
h3,
.h3-style,
h4,
.h4-style,
h5,
h6 {
  font-family: Gellix;
  font-weight: var(--font-weight-bold);
  color: var(--ink);
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: var(--blurple) !important;
}

label {
  color: var(--ink);
}

.button {
  color: var(--white) !important;
  background-color: var(--blurple);
  border: 0;
  font-family: Gellix;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-px-10) var(--spacing-px-20);

  &:hover {
    color: var(--white) !important;
    background-color: var(--blurple);
  }

  span {
    font-family: inherit;
    color: inherit;
  }
}

#skilljar-content {
  background: transparent !important; /* Hide white background */
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .top-row,
  .sj-courseboxes-v2,
  #cp-content {
    flex: 1;
  }

  &::after {
    height: 0px;
  }
}

svg.clone-icon {
  display: block;
  fill: var(--answer-option);

  &.copy-icon {
    fill: var(--primary-blue-hex);
    cursor: pointer;
  }

  &.checkbox-icon {
    flex-shrink: 0;
  }
}
