* {
  font-family: Roobert, Lato;
}

body {
  color: var(--ink);
}

span {
  font-family: inherit;
}

h1,
.h1-style,
h2,
.h2-style,
h3,
.h3-style,
h4,
.h4-style,
h5,
h6 {
  color: var(--ink);
  font-family: Gellix;
  font-weight: 700;
}

.no-select {
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
}

a {
  color: var(--blurple) !important;
}

label {
  color: var(--ink);
}

.button {
  padding: 10px 20px;
  border: 0;
  color: var(--white) !important;
  font-family: Gellix;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--blurple);

  &:hover {
    color: var(--white) !important;
    background-color: var(--blurple);
  }

  span {
    color: inherit;
    font-family: inherit;
  }
}

#skilljar-content {
  display: flex;
  flex-direction: column;
  background: transparent !important; /* Hide white background */
  min-height: 100%;

  .top-row,
  .sj-courseboxes-v2,
  #cp-content {
    flex: 1;
  }

  &::after {
    height: 0;
  }
}

svg.clone-icon {
  display: block;
  fill: var(--answer-option);

  &.copy-icon {
    fill: var(--primary-blue-hex);
    cursor: pointer;
  }

  &.checkbox-icon {
    flex-shrink: 0;
  }
}
