.headers {
  position: fixed;
  left: 0;
  z-index: var(--z-dropdown);
  width: 100%;
  height: var(--header-height);
  overflow: visible;
  border-bottom: var(--border-style-default) !important;
  background-color: var(--white) !important;

  #to-chainguard {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 20px;
    float: left;

    a {
      color: var(--ink) !important;
    }
  }

  + #header {
    top: 0;
  }

  + #mobile-header {
    top: var(--header-height);
  }

  @media screen and (width <= 690px) {
    height: var(--header-height-mobile) !important;

    + #mobile-header {
      top: var(--header-height-mobile);
    }
  }
}

#header #header-left,
#mobile-header {
  overflow: hidden;

  > a {
    display: flex;
    align-items: center;
    padding: var(--space-5);
    border-right: 1px solid var(--neutral-border);
    min-height: 100%;

    @media screen and (width <= 690px) {
      padding: var(--space-0);
    }
  }
}

#header {
  border-bottom: 1px solid var(--neutral-border);

  .back-to-catalog {
    /* Back to catalog button */
    display: none !important;
  }

  .headerheight.align-vertical {
    border-left: 1px solid var(--neutral-border);
  }

  .header-dropdown-button {
    margin-right: 10px;
  }

  #header-left {
    padding-left: 0 !important;

    #logo-wrapper {
      display: flex;
      align-items: center;
      height: 100%;
      padding: var(--space-0) var(--space-5);
      background-color: var(--blurple);

      a {
        display: flex;
        align-items: center;
        height: 100% !important;

        svg {
          fill: white !important;
          height: 40%;
        }
      }
    }

    @media screen and (width <= 480px) {
      #logo-wrapper {
        padding: var(--space-0) 10px;
      }
    }
  }

  #header-right {
    .search-container {
      display: none !important;
    }

    .info-circle-wrapper {
      display: flex;
      align-items: center;
      height: 100%;
      padding: var(--space-0) 10px;
      cursor: pointer;
      border-left: 1px solid var(--neutral-border);
      float: left;

      .info-circle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: var(--radius-circle);
        background: var(--blurple);
        color: white;
        font-size: var(--font-size-base);
        font-weight: 700;
        line-height: 1;
      }
    }

    .login-link {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: var(--space-0) 50px;
      border: 0;
      border: 2px solid var(--ring);
      border-radius: var(--radius-none);
      color: var(--primary-white-hex) !important;
      font-family: Gellix;
      font-weight: 700;
      background-color: white;
      background-color: var(--blurple);
    }
  }

  .info-circle-menu {
    position: absolute;
    top: 52px;
    left: -999999px;
    z-index: var(--z-fixed);
    border: var(--border-width-thin) solid #5a697c;
    background: var(--white);
    max-width: 200px;
    list-style: none;
    box-shadow: 0 6px 12px 1px rgb(0, 0, 0, 0.1);

    li {
      display: block;
      margin: 0;
      padding: 0.625em;
      font-size: var(--font-size-sm);
      line-height: 1.125em;
      cursor: pointer;

      &:hover {
        background: #e7eaee;
      }

      a {
        display: block;
        padding: 0.625em;
        color: #4d4d4d;
      }
    }
  }

  .header-dropdown-button-v2 {
    margin-right: 10px;
  }
}

@media screen and (width <= 808px) {
  #header .info-circle-menu {
    position: absolute;
    top: 38.5px;
    left: 2.5%;
    width: 95%;
    max-width: none;
  }

  .headers {
    font-size: 80% !important;
  }
}

#mobile-header {
  display: none;
}

@media screen and (width <= 690px) {
  #mobile-header {
    z-index: 1;
    display: flex !important;
    align-items: center;
    justify-content: space-between;

    #mobile-header-left {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0 20px;
    }

    #mobile-header-right {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0 20px;
    }
  }

  #header #header-left > a,
  #header #header-right #to-chainguard {
    display: none;
  }

  body.sj-page-catalog-root,
  body.sj-page-curriculum,
  body.sj-page-detail-bundle.sj-page-detail-path,
  body.sj-page-catalog.sj-page-series,
  body.sj-page-detail-course {
    #skilljar-content,
    #lp-wrapper {
      padding-top: 90px;
    }
  }
}
