/* details */
#details-pane {
  padding-top: 7em;
}

#details-pane-inner {
  border-top: solid lightgray 1px;
  margin-top: 4em;
  padding-top: 1em;
  font-size: 0.7em;
}

h4.sj-text-details-pane-summary {
  display: none;
  /* hide "Summary" header */
}

#lp-footer {
  padding-top: 5em;
}
