body.sj-page-catalog-root,
body.sj-page-catalog,
body.sj-page-curriculum,
body.sj-page-detail-bundle.sj-page-detail-path,
body.sj-page-catalog.sj-page-series,
body.sj-page-detail-course {
  /*
  General page styles:
  - body.sj-page-catalog-root = main landing page
  - body.sj-page-catalog = course catalog page
  - body.sj-page-curriculum = course description page (signed up)
  - body.sj-page-detail-bundle.sj-page-detail-path = learning path detail page (not logged in)
  - body.sj-page-catalog.sj-page-series = learning path detail page (logged in)
  - body.sj-page-detail-course = course description page (not logged in + logged in)
  */

  #cta-bottom {
    background-color: var(--blurple);
    width: 100%;
    min-height: 200px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1232px;
    margin: 0 auto;

    h2 {
      color: white;
      font-size: 6rem;
      margin-top: 96px;
      margin-bottom: 48px;
      letter-spacing: -3.84px;
      line-height: 88px;
      max-width: 1040px;
    }

    > svg {
      display: none;
      fill: white;
    }

    div {
      display: flex;
      justify-content: space-between;

      svg {
        fill: white;
      }

      a.button {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        font-size: 1.5rem;
        min-width: 180px;
        border-width: 1px;
        white-space: nowrap;
        align-self: flex-start;
        column-gap: 8px;
        justify-content: center;
        flex-shrink: 0;
        background: white;
        color: var(--ink) !important;
        padding: 24px;

        svg {
          fill: var(--blurple);
          width: 1rem;
          height: 1rem;
        }
      }
    }

    @media screen and (max-width: 767px) {
      h2 {
        font-size: 2.5rem;
        margin-top: 30px;
        margin-bottom: 30px;
        letter-spacing: -1.6px;
        line-height: 38px;
      }

      > svg {
        display: block;
        padding-top: 32px;
      }

      div {
        > svg {
          display: none;
        }

        a.button {
          width: 100%;
          font-size: 1.125rem !important;
        }
      }
    }
  }

  .top-row-grey {
    /* Header container */
    background-color: transparent !important;
    background-image: none !important;

    .d-flex-center-v2 {
      justify-content: start;

      .cp-summary-row-v2 {
        width: 100% !important;
      }
    }

    .dp-row-flex-v2 {
      .cp-promo-image-wrapper,
      .dp-promo-image-wrapper {
        /* Course image */
        display: none !important;
      }

      .cp-summary-wrapper,
      .dp-summary-wrapper {
        max-width: 100% !important;
        text-align: left !important;

        .sj-floater-text {
          display: block !important;
        }

        .sj-heading-paragraph {
          max-width: 80%;
          color: black !important;
        }

        h1.break-word {
          color: black !important;
        }
      }
    }
  }

  .tabs {
    .content {
      background-color: transparent !important;

      ul {
        list-style-position: outside;
        padding-inline-start: 30px;
      }
    }
  }

  .catalog-header {
    .catalog-hero {
      background: transparent !important; /* Hide background */
      color: black !important; /* Make title black */
      min-height: unset;
      padding: 66px 24px;

      h1 {
        color: black !important;
        letter-spacing: -0.24rem;
        line-height: 88px;
        font-size: 6rem;
        font-weight: 700;

        @media screen and (max-width: 767px) {
          font-size: 2.5rem;
          line-height: 38px;
          letter-spacing: -0.1rem;
        }
      }

      p {
        margin-bottom: 0px;

        @media screen and (max-width: 767px) {
          font-size: 1rem;
          line-height: 1.6rem;
        }
      }

      a {
        display: none !important; /* Hide "View Our Courses" button */
      }
    }
  }

  #catalog-content,
  .sj-courseboxes-v2 {
    .course-listing-header.technical-onboarding {
      margin-top: 3em;
    }

    #catalog-courses {
      .coursebox-container {
        border-radius: 16px;
        border: 1px solid #000;
        width: calc(33% - 24px) !important; /* 3 should fit */
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 991px) {
          width: 100% !important; /* 1 only on mobile */
        }

        .badge-box {
          box-shadow: unset !important;
          color: #fff !important;
          background: rgb(117, 69, 251) !important;
        }

        /* Adding FontAwesome icon before badge box */
        .badge-box::before {
          content: "";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-right: 10px;
        }

        .sj-ribbon-wrapper {
          display: none !important; /* Hide "registered" ribbon */
        }

        .coursebox-image {
          display: none !important; /* Hide course image */
        }

        .coursebox-text-description {
          font-size: 14px;
          flex: 1;
        }

        .course-overview {
          font-size: 80%;
          font-weight: 300;

          .course-overview__content {
            padding: 8px 8px 0px 8px;

            a {
              color: var(--blurple);

              i {
                padding-right: 12px;
              }

              .course-overview__content__lesson__type-icon {
                display: none !important;
              }
            }
          }
        }
      }

      .coursebox-container:has(.badge-box) {
        padding-top: 48px;
      }
    }
  }
}

body.sj-page-detail-bundle.sj-page-detail-path,
body.sj-page-catalog.sj-page-series {
  /* Learning path detail page styles */

  .top-row-grey {
    background: url(https://images.ctfassets.net/l47ir7rfykkn/5zE7elBMFe1MmuhPIeWd9G/e09a10e4d4c081b9ca86a879b6984049/Main_BG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    max-width: none;
    padding-top: 96px;
    padding-bottom: 96px;
    border: 0;

    .dp-row-flex-v2 {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: start;
      gap: 24px;
      max-width: 1188px;

      .dp-summary-wrapper {
        border: 0;
        max-width: 600px;

        .sj-floater-text {
          display: block;
        }

        h1.break-word {
          color: var(--primary-white-hex);
          margin: 0 0 12px 0;
          font-size: 36px;
          font-weight: 600;
          line-height: 43.2px;
          letter-spacing: -0.02em;
        }

        .sj-heading-paragraph {
          color: var(--primary-white-hex);
          display: block;
          margin: 0 0 24px 0;
        }

        .sj-course-info-wrapper {
          display: none !important;
        }

        a#purchase-button,
        a#path-curriculum-resume-button {
          border-color: var(--primary-cyan-hex);
          color: var(--primary-white-hex);
        }

        a#purchase-button:hover,
        a#path-curriculum-resume-button:hover {
          color: white !important;
        }

        #purchase-button-wrapper-large {
          /* Register/sign up/resume button wrapper */
          justify-content: left !important;

          .signin {
            /* Sign in link */
            display: none !important;
          }

          .sj-save-toggle-centered {
            justify-content: inherit !important;
          }
        }
      }
    }
  }

  #dp-details-bundle {
    padding: 0px;
    margin: 96px auto 46px auto;
    max-width: min(1152px, 90%);

    #catalog-courses {
      margin-bottom: 85px;
    }
  }
}

/* New: Featured courses */

.featured-courses {
  margin: 64px auto;
  width: 93%;
  max-width: var(--w-max);
  padding-bottom: 64px;
  border-bottom: 1px solid var(--separator);
  color: var(--ink);
  font-size: 18px;
  line-height: 1.55;

  @media (min-width: 640px) {
    width: 85%;
  }

  @media (min-width: 1200px) {
    margin: 80px auto;
    padding-bottom: 80px;
  }

  &:last-of-type {
    border-bottom: unset;
  }

  &.internal {
    background-color: #ffffff00;
    border-radius: 20px;
    padding: 60px;
    backdrop-filter: blur(25px);
    border: 1px solid #d6d6d6;

    .card {
      background-color: #1694d114;
    }
  }

  .featured-courses__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @media (min-width: 1200px) {
      grid-template-columns: 38% calc(62% - 24px) !important;
    }

    @media (min-width: 1536px) {
      grid-template-columns: 34% calc(66% - 24px) !important;
    }

    .featured-courses__intro {
      padding-right: 32px;
      font-family: inherit;

      .eyebrow {
        color: var(--blurple);
        font-family: inherit;
        margin: 0 0 var(--space-1);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.9rem;
        letter-spacing: 0.04em;

        @media screen and (max-width: 767px) {
          font-size: 0.8rem;
        }

        &::after {
          content: "";
          width: 11px;
          height: 18px;
          background: rgb(98 38 251);
          display: inline-block;
          transform: translate(7px, 3px);
          animation: cursor-blink 1.5s steps(1) infinite;
        }
      }

      p.headline {
        font-family: Gellix;
        margin: 0 0 var(--space-4);
        font-weight: 800;
        font-size: 2.25rem;
        line-height: 50px;

        @media screen and (max-width: 767px) {
          font-size: 1.75rem;
          line-height: 42px;
        }
      }

      p.subhead {
        font-family: Gellix;
        margin: 0 0 var(--space-3);
        color: var(--ink-dim);
        font-size: 1em; /* 18px */

        @media screen and (max-width: 767px) {
          font-size: 1rem;
        }
      }
    }
  }

  .cards {
    display: grid;
    gap: 16px;

    @media (min-width: 1536px) {
      grid-template-columns: 1fr 1fr;
    }

    .card__link {
      display: inline-block;
      margin-top: 4px;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      color: var(--ink) !important;

      &:hover {
        color: var(--blurple) !important;
      }

      .card {
        background: var(--card-bg);
        border-radius: var(--radius-2);
        height: 100%;
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &:hover {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12),
            0 3px 6px rgba(0, 0, 0, 0.04);
          transform: translateY(-2px);
        }

        & .card--completed {
          border: 1px solid #04bd13; /* lime */
        }
        & .card--in-progress {
          border: 1px solid #fd3964; /* solar */
        }

        .card__inner {
          padding: 24px;
          position: relative;

          @media (min-width: 900px) {
            padding: 32px;
          }

          .pill {
            display: inline-flex;
            align-items: center;
            gap: 6px;
            margin: 12px 12px 0px 0px;
            padding: 4px 12px;
            font-size: 0.85rem;
            font-weight: 600;
            color: var(--placeholder-color);
            background: #e8e6fb;
            border: 1px solid #c9c5f2;
            border-radius: 999px;
            text-transform: uppercase;
            letter-spacing: 0.03em;
            position: relative;

            &.badged::before {
              content: "";
              display: inline-block;
              width: 20px;
              height: 20px;
              background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'><path d='M22.0951 16.1082V13.6916H26.9284V16.1082H22.0951ZM23.5451 24.5666L19.6784 21.6666L21.1284 19.7332L24.9951 22.6332L23.5451 24.5666ZM21.1284 10.0666L19.6784 8.13325L23.5451 5.23325L24.9951 7.16658L21.1284 10.0666ZM6.38672 23.3582V18.5249H5.17839C4.5138 18.5249 3.94488 18.2883 3.47161 17.815C2.99835 17.3418 2.76172 16.7728 2.76172 16.1082V13.6916C2.76172 13.027 2.99835 12.4581 3.47161 11.9848C3.94488 11.5115 4.5138 11.2749 5.17839 11.2749H10.0117L16.0534 7.64991V22.1499L10.0117 18.5249H8.80338V23.3582H6.38672ZM13.6367 17.8603V11.9395L10.6763 13.6916H5.17839V16.1082H10.6763L13.6367 17.8603ZM17.2617 18.9478V10.852C17.8055 11.3353 18.2435 11.9244 18.5758 12.6192C18.9081 13.314 19.0742 14.0742 19.0742 14.8999C19.0742 15.7256 18.9081 16.4859 18.5758 17.1806C18.2435 17.8754 17.8055 18.4645 17.2617 18.9478Z' fill='%2314003D'/></svg>")
                no-repeat center;
              background-size: contain;
            }

            &.completed,
            &.in-progress {
              position: absolute;
              top: 24px;
              right: 24px;
            }

            &.completed {
              background: #04bd133d;
              border: 1px solid #04bd13a6;
              color: #04bd13; /* lime */
            }

            &.in-progress {
              background: #fd396421;
              border: 1px solid #fd396480;
              color: #fd3964; /* solar */
            }

            &.completed::before {
              content: "";
              display: inline-block;
              width: 20px;
              height: 20px;
              background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'><path d='M15 29.1667C22.5984 29.1667 28.75 23.0151 28.75 15.4167C28.75 7.81825 22.5984 1.66667 15 1.66667C7.40159 1.66667 1.25 7.81825 1.25 15.4167C1.25 23.0151 7.40159 29.1667 15 29.1667Z' stroke='%2314003D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M10.625 15.4167L13.5417 18.3334L19.375 12.5001' stroke='%2314003D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>")
                no-repeat center;
              background-size: contain;
            }
          }
        }

        .card__icon {
          margin: 0 auto var(--space-3);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--icon-border);
          background: var(--primary-white-hex);
          border-radius: var(--radius-1);
          padding: 16px;
        }

        .card__eyebrow {
          font-family: inherit;
          text-transform: uppercase;
          font-size: 0.8em;
          font-weight: 700;
          color: #d3c6e8;
          padding: 0px;
          margin: 0 0 8px;

          span {
            font-weight: 400 !important; /* "Free" */
          }
        }

        .card__title {
          margin: 0 0 8px;
          font-weight: 800;
          font-size: 1.5rem;
          line-height: 35px;

          @media screen and (max-width: 767px) {
            font-size: 1.25rem;
            line-height: 30px;
          }
        }

        .card__text {
          font-family: Gellix;
          margin: 0 0 var(--space-2);
          font-size: 1rem;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 5; /* number of lines to show */
          line-clamp: 2;
          -webkit-box-orient: vertical;

          @media screen and (max-width: 767px) {
            font-size: 0.95rem;
          }
        }
      }
    }
  }
}

svg.clone-icon {
  display: block;
  fill: var(--answer-option);

  &.copy-icon {
    fill: var(--primary-blue-hex);
    cursor: pointer;
  }

  &.checkbox-icon {
    flex-shrink: 0;
  }
}
