#footer-container,
#header {
  background-color: var(--white);
}

#header {
  border-bottom: 1px solid var(--neutral-border);

  .info-box {
    float: left;
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 85%;
    border-left: 1px solid var(--neutral-border);
    padding: 0 10px;
  }

  .headerheight.align-vertical {
    border-left: 1px solid var(--neutral-border);
  }
}

* {
  font-family: Roobert, Lato;
}

h1,
.h1-style,
h2,
.h2-style,
h3,
.h3-style,
h4,
.h4-style,
h5,
h6 {
  font-family: Gellix;
  font-weight: 700;
}

.footer-col,
.logo-col-content {
  a,
  p {
    font-family: Gellix !important;
  }
}

.search-container {
  display: none !important;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.related-parent-objects {
  /* Hide the "Also available as part of" section for Learning Paths */
  display: none !important;
}
