/* colors from https://www.chainguard.dev/_next/static/css/51c5f4fed6114f02.css */

:root {
    --primary-blue: 52 67 244;
    --primary-cyan: 122 240 254;
    --primary-dark-purple: 20 0 61;
    --primary-white: 255 255 255;
    --secondary-pink: 254 199 254;
    --secondary-violet: 117 69 251;
    --secondary-gray: 208 207 238;
    --secondary-light-gray: 250 250 253;
    --tertiary-light-green: 129 254 160;
    --tertiary-dark-green: 1 161 120;
    --tertiary-orange: 254 91 60;
    --tertiary-yellow: 246 235 97;
    --primary-dark-purple-hex: #14003d;
    --primary-blue-hex: #3443f4;
    --primary-white-hex: #fff;
    --max-width: 1444px;
    --max-width-v2: 1402px;
    --primary-border-radius: 20px;
    --space-section-ends: 80px;
    /* below is from .light colors */
    --detail-medium-contrast: rgb(234, 234, 234);
    --text-high-contrast-rgb-value: 49, 49, 49;
    --detail-medium-contrast-rgb-value: 234, 234, 234;
    --slider-btn-disabled: rgba(52, 67, 244, 0.4);
    --primary-bg: 255, 255, 255;
    --primary-text: 28, 28, 28;
    --gradient-end: 253, 225, 254;
    --gradient-start: #fde1fe;
    --gradient-end: #f5f6fe;
    --gradient-angle: 315deg;
    --nav-link-hover: 208 207 238;
    --border-color: #3443f4;
    --border-color-v2: #e5e3ea;
    --list-bullet-color: #3443f4;
    --form-bg: #d0cfee;
    --label-color: #7545fb;
    --placeholder-color: #14003d;
    --cta-bg: transparent;
    --cta-border: 2px solid #3443f4;
    --cta-text-color: #14003d;
    --error-color: #fe5b3c
}