@import url('colors.css');

@font-face {
  font-family: 'Fusiona';
  src: url(fonts/BwFusiona-56Medium.woff2) format('woff2'),
    url(fonts/BwFusiona-56Medium.woff) format('woff');
}

* {
  font-family: 'Lato', sans-serif;
}

body {
  color: var(--primary-dark-purple-hex);
}

#ep-footer {
  display: none !important;
}

h1,
.h1-style,
h2,
.h2-style,
h3,
.h3-style,
h4,
.h4-style,
h5,
h6 {
  font-family: 'Fusiona', sans-serif;
  color: var(--primary-dark-purple-hex);
}

span {
  font-family: inherit;
}

a,
#curriculum-list-2 a {
  color: var(--primary-blue-hex);
}

label {
  color: var(--primary-dark-purple-hex);
}

.button,
.button-prev-title {
  color: var(--primary-dark-purple-hex);
  background-color: transparent;
  border: 2px solid var(--primary-blue-hex);
  border-radius: 999px;
  font-family: 'Space Mono';
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
}

.button span {
  font-family: inherit;
  color: inherit;
}

.button:hover {
  background-color: var(--primary-blue-hex) !important;
  color: var(--primary-white-hex) !important;
  border-color: var(--primary-blue-hex) !important;
}

#header {
  .header-center-img {
    height: 24px !important;
    .header-logo-svg {
      width: 230px !important;
    }
  }

  #header-right {
    .login-link {
      transition: all 0.2s ease-in;
      font-size: 14px;
      font-weight: 700;
      font-family: 'Space Mono';
      padding: 8px 12px;
      margin-right: 24px;
      border: 2px solid rgb(52, 67, 244);
      background-color: transparent;
      border-radius: 999px;
    }
    .login-link:hover {
      color: white !important;
      background-color: var(--primary-blue-hex) !important;
      color: var(--primary-white-hex) !important;
      border-color: var(--primary-blue-hex) !important;
    }
  }
}

/* on mobile */

@media (max-width: 991px) {
  #header {
    .header-center-img {
      max-height: 48px;
    }
  }
}

#skilljar-content
  .top-row-grey.top-row-white-v2.padding-top.padding-side.row-v2[style='background-color: rgb(208, 207, 238); margin: 0px; max-width: none; padding-top: 96px; padding-bottom: 96px; border: 0px;'] {
  position: relative;

  /* .sj-floater-text {
    color: var(--primary-cyan-hex);
  }

  h1,
  h2,
  p {
    color: var(--primary-white-hex);
  }

  .button {
    color: var(--primary-white-hex);
    border-color: var(--primary-cyan-hex);
  } */
}

#skilljar-content
  .top-row-grey.top-row-white-v2.padding-side.row-v2[style='max-width: none; padding: 0px; background-color: rgb(208, 207, 238); border: 0px;'] {
  position: relative;

  /* .sj-floater-text {
    color: var(--primary-cyan-hex);
  }

  h1,
  h2,
  p {
    color: var(--primary-white-hex);
  }

  .button {
    color: var(--primary-white-hex);
    border-color: var(--primary-cyan-hex);
  } */
}

/* #skilljar-content
  .top-row-grey.top-row-white-v2.padding-side.row-v2[style='max-width: none; padding: 0px; background-color: rgb(208, 207, 238); border: 0px;']::before {
  background-image: url(https://images.ctfassets.net/l47ir7rfykkn/5zE7elBMFe1MmuhPIeWd9G/e09a10e4d4c081b9ca86a879b6984049/Main_BG.png);
  background-size: cover;
  mix-blend-mode: multiply;
  content: '';
  position: absolute;
  inset: 0;
} */

.sj-page-catalog .no-catalog-filters .catalog-center-width,
.catalog-filters .catalog-center-width {
  width: 100% !important;
  min-height: auto !important;
  padding: 0;
}

#catalog-content {
  #catalog-wrapper {
    max-width: min(1232px, 90%) !important;
    margin: 96px auto !important;

    h2 {
      font-size: 48px !important;
      margin-bottom: 38px !important;
    }

    #catalog-courses {
      justify-content: start;
      gap: 24px;
    }
  }
}

.expandable-view
  a.coursebox-container[title='Claim your Container Crusader Credential']::after {
  content: none;
}

.global-footer-column {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.focus-link-v2::before,
.course-text-content a::before,
#profile-course-table td > a::before,
.filter-group-title::before,
.alert-box a::before {
  pointer-events: none;
}

.lesson-row {
  cursor: pointer;
}

.lesson-row:hover {
  background-color: var(--secondary-light-gray-hex);
}

#cp-content::before,
#cp-content::after,
.row.dp-row-flex-v2::before,
.row.dp-row-flex-v2::after {
  content: none;
}

.checkbox-icon {
  display: none;
}

.lp-color-scheme-light #lp-wrapper #lesson-body h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32.1px;
  letter-spacing: -0.02em;
}

.content-table {
  display: grid;
  margin-bottom: 48px;
  font-size: 16px;

  .table-header {
    border-bottom: 1px solid #dcdcdc;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    padding: 12px;
  }
  .table-row {
    padding: 24px 12px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px solid #dcdcdc;
  }

  p {
    font-size: inherit !important;
    margin: 3px 0;
  }
}

.intro-table {
  grid-template-rows: 2;
}

.learning-outcomes {
  margin: 48px 0;
}

.module-heading {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.module-list {
  margin-bottom: 48px;
}

body .lesson-page #lp-wrapper #lesson-body .lesson-top {
  border: 0;
  display: block !important;
}

.lesson-page #lp-wrapper #lesson-body .lesson-top h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 43.2px;
  color: var(--primary-dark-purple-hex);
}

.content-img-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none !important;
  border-radius: 8px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.content-img-inner-container {
  background-color: var(--primary-white-hex);
  padding: 24px;
  margin: 64px;
  border-radius: 8px;
}

.content-img-inner-container img {
  border-radius: 4px;
}

.video-player.flex-video.widescreen {
  padding: 0;
  border-radius: 8px;
}

#lp-left-nav .lesson-active {
  background-color: var(--secondary-light-gray-hex);
  color: var(--primary-dark-purple-hex);
  margin: 0 12px;
  border-radius: 4px;
}

#lp-left-nav .lesson:hover {
  background-color: transparent;
}

pre[class*='language-'] {
  background: none;
}

.lp-color-scheme-light .lp-left-nav .course-title,
.lp-color-scheme-light .lp-left-nav .section-title,
.lesson-page #lp-wrapper #lesson-body,
.course-text-content {
  color: var(--primary-dark-purple-hex) !important;
}

.lp-color-scheme-light .lp-left-nav .course-title,
.lp-color-scheme-light .lp-left-nav .section-title {
  font-family: 'Fusiona';
}

.bullet .fa.fa-check-circle {
  color: var(--primary-blue-hex);
}

#lp-footer .left .prev-lesson-button .button-content .fa.fa-angle-left {
  display: none;
}

.course-scrollable-content.course-text-content.quiz .start-quiz {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 48px;
}

.course-scrollable-content.course-text-content.quiz .start-quiz .row {
  display: none;
}

.course-scrollable-content.course-text-content.quiz .start-quiz .text-center {
  text-align: left !important;
  margin: 0;
}

.course-scrollable-content.course-text-content.quiz
  .start-quiz
  .text-center
  h1 {
  margin: 0 0 12px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: -0.02em;
}

.course-scrollable-content.course-text-content.quiz
  .start-quiz
  .text-center
  .fa.fa-check-square-o.quiz-icon {
  display: none;
}

.course-scrollable-content.course-text-content.quiz
  .start-quiz
  .text-center.length {
  margin: 0 0 48px 0;
}

.course-scrollable-content.course-text-content.quiz
  .start-quiz
  .create_quiz.text-center {
  margin: 0;
  text-align: right !important;
}

.course-scrollable-content.course-text-content.quiz
  .start-quiz
  .create_quiz.text-center
  .button.sj-text-quiz-start {
  margin: 0;
}

.course-scrollable-content.course-text-content.quiz .question {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 48px;
}

.course-scrollable-content.course-text-content.quiz
  .question
  .row
  .large-8.large-centered.columns.question-text {
  text-align: left !important;
  width: 100%;
}

.course-scrollable-content.course-text-content.quiz
  .question
  .row
  .large-8.large-centered.columns.question-text
  p {
  font-weight: 600;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: -0.02em;
}

.course-scrollable-content.course-text-content.quiz
  .question
  .row
  .form-answers.large-8.large-centered.columns {
  text-align: left !important;
  margin: 0;
  width: 100%;
}

.course-scrollable-content.course-text-content.quiz
  .question
  .row
  .form-answers.large-8.large-centered.columns
  #id_chosen_answers
  div
  label {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: var(--answer-option);
}

.course-scrollable-content.course-text-content.quiz
  .question
  .row
  .form-answers.large-8.large-centered.columns
  #id_answer
  div
  label {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: var(--answer-option);
}

.course-scrollable-content.course-text-content.quiz
  .question
  .row
  .form-answers.large-8.large-centered.columns
  #id_chosen_answers
  div
  label
  input {
  top: 3px;
}

.course-scrollable-content.course-text-content.quiz
  .question
  .text-center.next-prev {
  margin: 32px 0 0 0;
  text-align: right !important;
}

.course-scrollable-content.course-text-content.quiz
  .question
  .text-center.next-prev
  #answer_question
  .button.small.sj-text-quiz-next {
  margin: 0;
  font-size: 14px;
}

.course-scrollable-content.course-text-content.quiz
  .question
  .text-center.next-prev
  #prev_question
  .button.small.secondary.sj-text-quiz-previous {
  margin: 0;
  font-size: 14px;
}

.course-scrollable-content.course-text-content.quiz
  .question
  .text-center.next-prev
  #answer_question
  .button.small.sj-text-quiz-submit {
  margin: 0;
  font-size: 14px;
}

.button.tiny[title='Download certificate PDF'] {
  display: none;
}

.v1.sj-page-certificate #main-container #skilljar-content::after {
  content: none;
}

.curriculumItem .lesson-row:hover {
  background-color: var(--primary-white-hex) !important;
}

/* HIDES FOR CHROME, SAFARI, AND OPERA */
sjwc-lesson-content-item pre code::-webkit-scrollbar {
  display: none;
}

sjwc-lesson-content-item pre code {
  scrollbar-width: none; /* HIDES FOR firefox */
  -ms-overflow-style: none; /* HIDES FOR EDGE & IE */
}

.lp-footer {
  position: relative;
}

.footer {
  border-top: 1px solid #d0cfee;
  padding: 63px 0 96px 0;
  font-family: 'Lato', Tahoma, sans-serif;

  .footer-content-container {
    width: 90%;
    display: flex;
    gap: 12px;
    max-width: 1232px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .outlink {
    display: flex !important;
    gap: 14px;
  }

  .logo-col-content {
    max-width: 224px;
    flex-shrink: 1;

    .logo-container {
      margin-bottom: 28px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
        height: auto;
      }

      .social-icons {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 16px;
      }

      .ctas {
        margin-bottom: 16px;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        font-size: 14px;

        a {
          text-decoration: none;
          color: inherit;
        }

        .cta-media-kit {
          display: flex;
          align-items: center;
          gap: 12px;
          transition: all 0.2s ease-in;
          margin-bottom: 30px;

          &:hover {
            color: #3443f4;
          }

          & .icon {
            color: #3443f4;
          }
        }

        .cta-contact-us {
          transition: all 0.2s ease-in;
          border: 2px solid #3443f4;
          display: inline-block;
          padding: 10px 20px;
          border-radius: 999px;

          &:hover {
            background-color: #3443f4;
            color: #fff;
          }
        }
      }

      .copyright {
        font-size: 12px;

        a {
          text-decoration: none;
          color: inherit;
        }

        .privacy {
          margin-right: 2px;
          display: inline-block;
          padding-right: 4px;
          border-right: 1px solid #14003d;
        }

        .terms {
          display: inline-block;
          padding-left: 6px;
        }
      }
    }
  }

  .product-col,
  .customers-col {
    display: grid;
    flex-shrink: 0;
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .product-col {
    a {
      display: block;
    }
  }

  .footer-col {
    font-size: 14px;

    a {
      text-decoration: none;
      display: block;
      margin: 14px 0;
      color: inherit;
      font-weight: 500px;

      &:hover {
        text-decoration: underline;
      }
    }

    h2 {
      margin: 0 0 18px 0;
      font-size: 20px;
    }
  }
}

.why-chainguard-content,
.company-content {
  display: none;
}

.why-chainguard-col,
.company-col {
  display: block;
}

@media (max-width: 1280px) {
  .why-chainguard-content,
  .company-content {
    display: block;
  }

  .why-chainguard-col,
  .company-col {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .footer-content-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    width: 200px;
  }
}

.sj-heading-paragraph {
  display: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.sj-floater-text {
  display: none;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 16px;
  line-height: 23.7px;
  margin-bottom: 24px;
  color: #7545fb;
}

.copy-icon,
.checkbox-icon {
  display: none;
}

.sj-page-catalog .coursebox-container {
  width: calc(50% - 24px) !important;
  margin: 0;
}

.sj-page-catalog .catalog-hero {
  padding: 0 24px;
}

@media (max-width: 600px) {
  .sj-page-catalog .coursebox-container {
    width: 100% !important;
  }
}

.sj-page-catalog .badge-box {
  font-weight: 800 !important;
  background-image: linear-gradient(
    315deg,
    rgb(253, 225, 254),
    rgb(245, 246, 254) 72%
  ) !important;
  padding: 12px 12px 12px 24px !important;
  margin-top: 0 !important;
  font-size: 1em !important;
  text-transform: uppercase !important;
  color: #c0a200 !important;
  left: 0 !important;
  top: 0 !important;
  position: absolute !important;
  z-index: 1 !important;
  width: 100% !important;
  box-shadow: 0 0 7px #0000003d !important;
}

.sj-page-catalog .sj-course-ribbon-complete {
  color: white !important;
}

/* Login/sign-up page style */
body.sj-page-login,
body.sj-page-signup {
  #facebook_login {
    display: none;
  }

  #google_login {
    background: linear-gradient(225deg, #7545fb 0%, #7af0fe 100%) !important;
    width: auto !important;
    text-align: center !important;
  }

  #access-message {
    max-width: 368px;
    font-size: 14px;
    color: #545454;
  }

  #login_content {
    border: 0;
  }

  #tab-marker-login,
  #tab-marker-signup {
    display: none;
  }

  input#id_login,
  input#id_password {
    border-radius: 4px;
    border: 2px solid #3443f4;
    padding: 20px 15px;
    line-height: 24px;
    width: 100%;
    font-size: 14px;
  }

  input#id_password2 {
    margin-bottom: 24px;
  }

  .sj-text-login-note {
    display: none;
  }

  label {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Fusiona';
  }

  input {
    border-radius: 4px;
    border: 2px solid #3443f4;
    padding: 20px 15px;
    line-height: 24px;
  }

  #button-sign-in,
  #button-sign-up {
    transition: all 0.2s ease-in;
    font-family: 'Space Mono';
    color: #14003d;
    width: 368px;
    height: 48px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #3443f4;
    border-radius: 999px;
    margin-bottom: 12px;

    &:hover {
      background-color: var(--primary-blue-hex) !important;
      color: var(--primary-white-hex) !important;
    }
  }

  .large-6.columns {
    width: 50%;
  }

  .socialaccount_providers {
    padding-left: 100px;

    h4 {
      margin-bottom: 12px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }

    ul {
      padding: 0px 0px 0px 25px;

      li {
        padding: 0;
      }
    }
  }

  a.forgot-password {
    font-size: 16px;
    font-family: Space Mono;
    margin-bottom: 2px;
  }

  #login_form .large-12.columns:last-child {
    margin-bottom: 24px;
  }

  #login-tab-container {
    padding: 45px 65px 0px 25px;

    #tabs {
      display: flex;

      #login-tab-left,
      #login-tab-right {
        border: 0;
        display: flex;
        padding: 8px 16px;
        align-items: center;
        font-family: 'Space Mono';
        color: var(--primary-dark-purple-hex);
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        border-radius: 100px;

        a {
          color: rgba(52, 67, 244, 0.4);
          font-weight: 700;
          font-size: 18px;
          font-family: 'Space Mono';
          line-height: 24px;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  body.sj-page-login,
  body.sj-page-signup {
    #google_login {
      width: 100%;
    }

    #login_content {
      width: 100%;
    }

    input#id_login,
    input#id_password {
      border-color: #dcdcdc;
      padding: 12px;
    }

    #button-sign-in,
    #button-sign-up {
      width: 100%;
      height: 48px;
      font-size: 16px;
    }

    .large-6.columns {
      width: 100%;
    }
    .socialaccount_providers ul {
      padding: 0;
    }
  }
}

body.sj-page-detail-course,
body.sj-page-curriculum {
  /* courseDetails */

  .top-row-grey {
    background-image: url(https://images.ctfassets.net/l47ir7rfykkn/5zE7elBMFe1MmuhPIeWd9G/e09a10e4d4c081b9ca86a879b6984049/Main_BG.png);
    background-size: cover;
    mix-blend-mode: multiply;
    content: '';
    inset: 0;
    background-color: var(--primary-light-purple-hex);
    margin: 0;
    max-width: none;
    padding-top: 96px;
    padding-bottom: 96px;
    border: 0;
  }

  .back-to-catalog,
  .signin {
    display: none;
  }

  .sj-course-info-wrapper {
    display: none;
  }

  .dp-row-flex-v2 {
    /* Course info header */
    flex-flow: row-reverse;
    justify-content: start;
    gap: 24px;
    max-width: 1188px;

    .dp-summary-wrapper,
    .cp-summary-wrapper {
      /* Course information text content */
      border: 0px;
      max-width: 564px;
      width: 100%;

      .sj-floater-text {
        /* Course category */
        display: block;
        margin-bottom: 24px;
        color: white;
      }

      h1.break-word {
        /* Course name */
        margin: 0 0 12px 0;
        font-size: 36px;
        font-weight: 600;
        line-height: 43.2px;
        letter-spacing: -0.02em;
        color: white;
      }

      h2 {
        display: block;
        margin: 0px 0px 24px;
        color: white;
      }

      div.purchase-button-wrapper {
        a#purchase-button {
          color: white;

          span.purchase-button-full-text {
            color: white;
          }
        }
      }

      .progress-bar,
      .cp-lessons {
        display: none;
      }
    }
  }

  #dp-details,
  #cp-content {
    padding: 0px;
    margin: 96px auto 46px auto;
    max-width: min(1152px, 90%);
    display: grid;
    grid-template-columns: minmax(100px, 760px) minmax(100px, 368px);
    column-gap: 24px;

    .sj-curriculum-wrapper:has(ul.dp-curriculum) {
      h2,
      h3 {
        display: none;
      }
    }

    .course-details-card {
      /* Course Details Card */

      font-family: inherit !important;
      max-width: 368px !important;
      border-radius: 8px !important;
      display: flex !important;
      flex-direction: column !important;
      color: inherit !important;
      align-self: start !important;
      position: sticky !important;
      top: 100px !important;
      margin: 96px 0 46px 0;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
      background-image: linear-gradient(315deg, #fde1fe, #f5f6fe 72%);

      /* 
      on mobile?
      .course-details-card margin = '0 0 46px 0';
      .course-details-card justifySelf = 'center';
      */

      .course-details-card-header {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Fusiona';
        line-height: 20px;
        letter-spacing: -0.01em;
        padding: 24px;
      }

      .course-details-card-list {
        list-style: none;
        padding: 24px 24px 0 24px;
        margin: 0;
        margin-bottom: 16px;

        li {
          margin-bottom: 8px;
          display: flex;
          align-items: start !important;
          gap: 12px;

          &::before {
            content: ''; /* checkbox icon */
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #0000ff40;
            transform: translateY(5px);
          }

          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin: 0;
          }

          .checkbox-icon {
            display: block;
            flex-shrink: 0;
          }
        }

        .course-details-card-link {
          background-color: var(--primary-blue-hex) !important;
          color: var(--primary-white-hex) !important;
          padding: 12px 20px !important;
          text-align: center !important;
          text-decoration: none !important;
          display: inline-block;
          font-size: 16px !important;
          font-family: 'Space Mono' !important;
          border-radius: 999px !important;
          cursor: pointer !important;
          margin: 0 24px !important;
          margin-bottom: 24px !important;
          transition: all 0.2s !important;

          &:visited {
            background-color: var(--primary-blue-hex) !important;
            color: var(--primary-white-hex) !important;
          }

          &:hover,
          &:active {
            color: var(--primary-white-hex) !important;
          }
        }
      }
    }

    #badge-info {
      border: 1px #00000024 solid !important;
      padding: 16px !important;
      background-image: linear-gradient(
        315deg,
        #e0fcde,
        #f5f6fe 72%
      ) !important;
      border-radius: 24px !important;
      font-weight: 600 !important;
      margin: 36px 0 !important;
      display: flex !important;
      align-items: flex-end !important;
      line-height: 28px !important;
      box-shadow: 0 0 6px 6px #0000001a !important;
    }
  }

  .row.show-for-small {
    display: none !important;
  }

  .row.hide-for-small.padded-side-bottom {
    padding: 0;
    max-width: 760px;
    display: grid !important;

    .columns {
      float: none;
      padding: 0;
      width: 100%;
      display: block;

      &.large-7 {
        margin-bottom: 48px;
      }

      h3 {
        font-weight: 600;
      }

      ul.dp-curriculum {
        margin: 0;

        > li {
          border-radius: 20px;
          background-image: linear-gradient(315deg, #fde1fe, #f5f6fe 72%);
          margin-bottom: 20px;
          padding: 0;
        }

        li.section,
        li.lesson-modular {
          /* Skilljar's built-in (we want to hide them) */
          display: none;
        }

        div.section {
          font-family: Fusiona;
          font-size: 16px;
          font-weight: 700;
          line-height: 125%;
          letter-spacing: -0.16px;
          padding: 24px;
          border-bottom: 1px solid #d0cbd5;
          text-wrap: wrap;
          margin: 0;
          background-color: #cdb5e454 !important;
          border-radius: 20px 20px 0 0;
        }

        div.lesson {
          padding: 24px;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;

          .type-icon {
            display: none;
          }
        }
      }
    }
  }
}

/* media mobile */
@media (max-width: 991px) {
  body.sj-page-detail-course {
    .dp-row-flex-v2 {
      flex-direction: column-reverse;
      justify-content: start;
      gap: 24px;
      max-width: 1188px;

      .dp-summary-wrapper {
        max-width: none;

        .sj-floater-text {
          margin-bottom: 0px;
        }
      }

      .dp-promo-image-wrapper {
        padding: 0;
        max-width: none;
        width: 100%;

        .video-max {
          max-width: none;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    #dp-details {
      grid-template-columns: 1fr;
      margin: 72px auto -10px;
    }
  }
}

/* CG memes */
.content-img-outer-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-image: linear-gradient(315deg, rgb(253, 225, 254), rgb(245, 246, 254) 72%) !important;
    border-radius: 8px !important;
    margin-top: 48px !important;
    margin-bottom: 48px !important;
}

.content-img-inner-container {
    background-color: #fff !important;
    padding: 24px !important;
    margin: 64px !important;
    border-radius: 8px !important;
}

.content-img-inner-container img {
    border-radius: 4px !important;
    max-height: 300px !important;
    width: auto !important;
}

/* CG callouts */
.callout {
    border-radius: 5px;
    box-shadow: 2px 1px 3px #bbb;
    width: 90%;
    margin: 2em auto 2em auto;
    font-size: 90% !important;
    opacity: 0.8;

    p {
        margin: 0;
        padding: 0;
    }

    .callout-header {
        padding: 10px 20px 10px 20px;
        border-radius: 5px 5px 0 0;
        font-size: 1.2em !important;
        font-weight: bold;

        i { /* icon */
            padding-right: 0.5em;
        }
    }

    .callout-body {
        padding: 10px 20px 10px 20px;
    }
}

.callout:hover {
    opacity: 1;
}

.callout[data-type="success"] {
    background-color: #f0fff0;
    color: #004d00;
    border-color: #004d00;
}

.callout[data-type="info"] {
    background-color: aliceblue;
    color: darkblue;
    border-color: darkblue;

    .callout-header {
        background-color: #d2d2fb;
    }
}

.callout[data-type="warning"] {
    background-color: #fefee9;
    color: darkred;
    border-color: darkred;

    .callout-header {
        background-color: #ffcca6;
    }
    
}

.callout[data-type="error"] {
    background-color: #faf4f4;
    color: #bf1717;
    border-color: #bf1717;
}
