@import url("css/_colors.css");
@import url("css/_fonts.css");
@import url("css/_animations.css");
@import url("css/_freezebox.css");
@import url("css/globals.css");
@import url("css/header.css");
@import url("css/breadcrumbs.css");
@import url("css/auth.css");
@import url("css/catalog.css");
@import url("css/course-info.css");
@import url("css/lessons.css");
@import url("css/404.css");
@import url("css/footer.css");
@import url("css/completion.css");
@import url("css/__adjustments.css");

.focus-link-v2::before,
.course-text-content a::before,
#profile-course-table td > a::before,
.filter-group-title::before,
.alert-box a::before {
  pointer-events: none;
}

#cp-content::before,
#cp-content::after,
.row.dp-row-flex-v2::before,
.row.dp-row-flex-v2::after {
  content: none;
}

.bullet .fa.fa-check-circle {
  color: var(--blurple);
}
.lp-footer {
  position: relative;
}

.related-parent-objects {
  /* Hide the "Also available as part of" section for Learning Paths */
  display: none !important;
}

.sj-save-toggle-block {
  /* Hide the new save course/learning path feature */
  display: none !important;
}
