@import url("colors.css");

* {
  font-family: "Lato", sans-serif;
}

body {
  color: var(--ink);
}

h1,
.h1-style,
h2,
.h2-style,
h3,
.h3-style,
h4,
.h4-style,
h5,
h6 {
  color: var(--ink);
}

span {
  font-family: inherit;
}

a,
#curriculum-list-2 a {
  color: var(--blurple);
}

label {
  color: var(--ink);
}

.button,
.button-prev-title,
#header-right .login-link {
  color: var(--white) !important;
  background-color: var(--blurple);
  border: 0;
  font-family: Gellix;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
}

.button {
  &:hover {
    color: var(--white) !important;
    background-color: var(--blurple);
  }

  span {
    font-family: inherit;
    color: inherit;
  }
}

#header {
  .header-center-img.header-logo-svg {
    width: 230px !important;
  }

  #header-right .login-link {
    margin-left: 14px;

    &:hover {
      color: var(--primary-white-hex) !important;
      background-color: var(--blurple);
    }

    span {
      font-family: inherit;
      color: inherit;
    }
  }
}

#skilljar-content .top-row-grey {
  background-color: #fef6ff9c !important;
}

.expandable-view
  a.coursebox-container[title="Claim your Container Crusader Credential"]::after {
  content: none;
}

#button-sign-in,
#button-sign-up {
  transition: all 0.2s ease-in;

  &:hover {
    background-color: var(--blurple) !important;
    color: var(--primary-white-hex) !important;
  }
}

.global-footer-column {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.focus-link-v2::before,
.course-text-content a::before,
#profile-course-table td > a::before,
.filter-group-title::before,
.alert-box a::before {
  pointer-events: none;
}

.sj-text-email,
.sj-text-password,
.sj-text-sign-in-with {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: Gellix;
}

.lesson-row {
  cursor: pointer;

  &:hover {
    background-color: var(--white);
  }
}

.course-details-card {
  font-family: inherit !important;
  max-width: 368px !important;
  margin: 20px !important;
  margin-bottom: 50px !important;
  border-radius: 8px !important;
  background-color: var(--primary-white-hex) !important;
  border: 2px solid var(--blurple) !important;
  display: flex !important;
  flex-direction: column !important;
  color: inherit !important;
  align-self: start !important;
  position: sticky !important;
  top: 100px !important;

  .course-details-card-header {
    font-size: 16px;
    font-weight: 500;
    font-family: Gellix;
    line-height: 20px;
    letter-spacing: -0.01em;
    border-bottom: 2px solid var(--blurple) !important;
    padding: 24px;
  }

  .course-details-card-list {
    list-style: none;
    padding: 24px 24px 0 24px;
    margin: 0;
    margin-bottom: 16px;

    li {
      margin-bottom: 8px;
      display: flex;
      align-items: start !important;
      gap: 12px;

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
      }
    }
  }

  .course-details-card-link {
    background-color: var(--blurple) !important;
    color: var(--primary-white-hex) !important;
    padding: 12px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block;
    font-size: 16px !important;
    font-family: Roobert !important;
    border-radius: 999px !important;
    cursor: pointer !important;
    margin: 0 24px !important;
    margin-bottom: 24px !important;
    transition: all 0.2s !important;

    &:visited {
      background-color: var(--blurple);
      color: var(--primary-white-hex);
    }

    &:hover,
    &:active {
      background-color: var(--blurple);
      color: var(--primary-white-hex);
    }
  }
}

#cp-content::before,
#cp-content::after,
.row.dp-row-flex-v2::before,
.row.dp-row-flex-v2::after {
  content: none;
}

.content-table {
  display: grid;
  margin-bottom: 48px;
  font-size: 16px;

  .table-header {
    border-bottom: 1px solid #dcdcdc;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    padding: 12px;
  }

  .table-row {
    padding: 24px 12px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px solid #dcdcdc;

    ul:first-child {
      margin-top: 0;
    }
  }

  p,
  li {
    font-size: inherit !important;
    font-weight: inherit !important;
    margin: 3px 0;
  }
}

.intro-table {
  grid-template-rows: 2;
}

.learning-outcomes {
  margin: 48px 0;
}

.module-heading {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.module-list {
  margin-bottom: 48px;
}

.lesson-page #lp-wrapper #lesson-body {
  color: var(--ink) !important;

  .lesson-top {
    border: 0;
    display: block !important;

    h2 {
      font-weight: 600;
      font-size: 36px;
      line-height: 43.2px;
      color: var(--ink);
    }
  }

  h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32.1px;
    letter-spacing: -0.02em;
  }
}

.content-img-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none !important;
  border-radius: 8px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.content-img-inner-container {
  background-color: var(--primary-white-hex);
  padding: 24px;
  margin: 64px;
  border-radius: 8px;

  img {
    border-radius: 4px;
  }
}

.video-player.flex-video.widescreen {
  padding: 0;
  border-radius: 8px;
}

#lp-left-nav {
  .lesson-active {
    background-color: #eaeaea;
    color: var(--ink);
    margin: 0 12px;
    border-radius: 4px;
  }

  .lesson:hover {
    background-color: transparent;
  }
}

pre[class*="language-"] {
  background: none;
}

.course-text-content {
  color: var(--ink) !important;
}

.lp-color-scheme-light .lp-left-nav .course-title,
.lp-color-scheme-light .lp-left-nav .section-title {
  color: var(--ink) !important;
  font-family: Gellix;
}

.bullet .fa.fa-check-circle {
  color: var(--blurple);
}

#lp-footer .left .prev-lesson-button .button-content .fa.fa-angle-left {
  display: none;
}

.course-scrollable-content.course-text-content.quiz {
  .start-quiz {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 48px;

    .row {
      display: none;
    }

    .text-center {
      text-align: left !important;
      margin: 0;

      h1 {
        margin: 0 0 12px 0;
        font-weight: 600;
        font-size: 24px;
        line-height: 31.2px;
        letter-spacing: -0.02em;
      }

      .fa.fa-check-square-o.quiz-icon {
        display: none;
      }

      .length {
        margin: 0 0 48px 0;
      }
    }

    .create_quiz.text-center {
      margin: 0;
      text-align: right !important;

      .button.sj-text-quiz-start {
        margin: 0;
      }
    }

    .question {
      border: 1px solid #dcdcdc;
      border-radius: 8px;
      padding: 48px;

      .row .large-8.large-centered.columns.question-text {
        text-align: left !important;
        width: 100%;

        p {
          font-weight: 600;
          font-size: 24px;
          line-height: 31.2px;
          letter-spacing: -0.02em;
        }
      }

      .row .form-answers.large-8.large-centered.columns {
        text-align: left !important;
        margin: 0;
        width: 100%;

        #id_chosen_answers div label,
        #id_answer div label {
          line-height: 24px;
          font-weight: 400;
          font-size: 16px;
          color: var(--answer-option);

          input {
            top: 3px;
          }
        }
      }

      .text-center.next-prev {
        margin: 32px 0 0 0;
        text-align: right !important;

        #answer_question {
          margin: 0;
          font-size: 14px;

          .button.small.sj-text-quiz-next,
          .button.small.sj-text-quiz-submit {
            margin: 0;
            font-size: 14px;
          }
        }

        #prev_question .button.small.secondary.sj-text-quiz-previous {
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }
}

.button.tiny[title="Download certificate PDF"] {
  display: none;
}

.v1.sj-page-certificate #main-container #skilljar-content::after {
  content: none;
}

.curriculumItem .lesson-row:hover {
  background-color: var(--primary-white-hex) !important;
}

sjwc-lesson-content-item pre code::-webkit-scrollbar {
  display: none;
}

sjwc-lesson-content-item pre code {
  scrollbar-width: none;
}

sjwc-lesson-content-item pre code {
  -ms-overflow-style: none;
}

.lp-footer {
  position: relative;
}

.footer {
  border-top: 1px solid #d0cfee;
  margin: 63px 0 0;

  .footer-content-container,
  .footer-bottom-bar {
    width: 90%;
    display: flex;
    max-width: 1232px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .footer-content-container {
    margin: 63px auto;
    gap: 12px;

    .primary-col {
      max-width: 300px;
      flex-shrink: 1;

      .tagline {
        p {
          letter-spacing: -0.12rem;
          line-height: 44px;
          font-size: 3rem;
          max-width: 400px;
          font-family: Gellix;
          font-weight: 800;
        }
      }

      .ctas {
        margin-bottom: 16px;
        font-family: Roobert, monospace;
        font-weight: 700;
        font-size: 14px;
      }

      .copyright {
        font-size: 12px;
        font-family: Gellix;
        color: rgb(13 22 28 / 0.6);

        a {
          text-decoration: none;
          color: inherit;
          font-family: Gellix;
        }
      }
    }

    .footer-col {
      font-size: 17px;
      display: flex;
      flex-direction: column;
      line-height: 21px;

      > div + div:last-child {
        margin-top: 24px;
      }

      a {
        text-decoration: none;
        display: block;
        margin: 14px 0;
        color: inherit;
        font-weight: 400;
      }

      h2 {
        margin: 0 0 15px 0;
        font-family: "Roobert";
        text-transform: uppercase;
        font-size: 12px;
        color: var(--ink-70);
        font-weight: 400;
      }
    }

    .product-col {
      display: grid;
      flex-shrink: 0;
      grid-template-columns: 1fr;
      gap: 32px;

      a {
        display: block;
      }
    }
  }

  .footer-bottom-bar {
    align-items: center;
    height: 100px;

    .logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        fill: #14003d !important;
      }
    }

    .social-icons {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  @media (max-width: 768px) {
    .footer-content-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 80%;
      margin: 0 auto;
    }
  }

  @media (max-width: 480px) {
    .footer-content-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 32px;
      width: 200px;
    }
  }
}

.sj-heading-paragraph {
  display: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.sj-floater-text {
  display: none;
  font-family: Roobert;
  font-weight: 700;
  font-size: 16px;
  line-height: 23.7px;
  color: #7545fb;
}

.sj-page-catalog {
  .coursebox-container {
    width: calc(50% - 24px) !important;
    margin: 0;
  }

  #catalog-content #catalog-courses {
    gap: 24px;
    justify-content: start;
  }

  .badge-box {
    font-weight: 800 !important;
    background-image: linear-gradient(
      315deg,
      rgb(253, 225, 254),
      rgb(245, 246, 254) 72%
    ) !important;
    padding: 12px 12px 12px 24px !important;
    margin-top: 0 !important;
    font-size: 1em !important;
    text-transform: uppercase !important;
    color: #c0a200 !important;
    left: 0 !important;
    top: 0 !important;
    position: absolute !important;
    z-index: 1 !important;
    width: 100% !important;
    box-shadow: 0 0 7px #0000003d !important;
  }

  .sj-course-ribbon-complete {
    color: white !important;
  }

  .catalog-center-width {
    width: 100% !important;
    min-height: auto !important;
    padding: 0;
  }

  @media (max-width: 600px) {
    .coursebox-container {
      width: 100% !important;
    }
  }
}

#internal-course-warning {
  padding: 18px;
  background-image: linear-gradient(315deg, #fde1fe, #f5f6fe 72%);
  box-shadow: 0 0 6px 6px #0000001a !important;
  margin-bottom: 50px;
  line-height: 1.5em;
  font-size: 0.9em;
}

.sj-page-error-404 {
  .row.padded-side-bottom {
    flex-grow: 1;

    .small-12 {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 50vh;
    }
  }

  footer {
    width: 100%;
  }
}
