/* Resource box styling for lessons */

sjwc-lesson-content-item {
  .resource-box:not(:has(.resource-card)) {
    display: none !important;
  }

  .resource-box {
    /* A resource box */
    h3 {
      font-size: var(--font-size-xl); /* 1.25rem = 20px */
    }

    .resource-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* two equal columns */
      gap: 0.75rem;
      padding: 0.75rem;

      .resource-card {
        /* Resource card styles */
        position: relative;
        display: flexbox;
        display: flex;
        flex-direction: column;
        flex-direction: column;
        min-width: 0;
        overflow-wrap: break-word;
        background-color: var(--white);
        background-clip: border-box;
        border: var(--border-width-thin) solid rgb(0, 0, 0, 0.125);
        border-radius: var(--radius-sm);

        .card-body {
          flex: 1 1 auto;
          flex: 1 1 auto;
          padding: 1.25rem;

          .badge-container {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;

            .badge {
              width: fit-content;
              border: var(--no-border);
              border-radius: var(--radius-sm);
              color: var(--pink-dark);
              font-size: var(--font-size-xs);
              font-weight: var(--font-medium);
              line-height: calc(1 / 0.75);
              padding-block: 0.125rem;
              padding-inline: 0.625rem;
              background-color: var(--pink-light);
              margin-inline-end: 0.5rem;
              box-sizing: border-box;
              margin-right: 10px;
              margin-bottom: 10px;
            }
          }

          h5.card-title {
            margin-bottom: 0;
            font-size: var(--font-size-base);
            font-weight: var(--font-medium);
            line-height: 1.5rem;
            margin-top: 0;
          }

          p.card-text {
            overflow-wrap: break-word;
          }

          a.button {
            display: inline-block;
            margin: 0;
            padding: 0.375rem 0.75rem;
            border: var(--border-width-thin) solid transparent;
            border-radius: var(--radius-sm);
            color: var(--blurple) !important;
            font-size: 0.8rem;
            font-weight: var(--font-normal);
            line-height: 1.5;
            text-align: center;
            transition:
              color 0.15s ease-in-out,
              background-color 0.15s ease-in-out,
              border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
            background-color: var(--border-color-v2) !important;
            border-color: var(--border-color-v2) !important;
            vertical-align: middle;
            user-select: none;
            user-select: none;
            user-select: none;
            user-select: none;
          }
        }
      }
    }
  }
}
