@font-face {
  font-family: "Gellix";
  font-weight: 100;
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/Gellix-Thin.woff2")
    format("woff2");
}

@font-face {
  font-family: "Gellix";
  font-weight: var(--font-weight-light);
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/Gellix-Light.woff2")
    format("woff2");
}

@font-face {
  font-family: "Gellix";
  font-weight: var(--font-weight-normal);
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/Gellix-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Gellix";
  font-weight: var(--font-weight-medium);
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/Gellix-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Gellix";
  font-weight: var(--font-weight-semibold);
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/Gellix-SemiBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Gellix";
  font-weight: var(--font-weight-bold);
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/Gellix-Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Gellix";
  font-weight: var(--font-weight-extrabold);
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/Gellix-ExtraBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Gellix";
  font-weight: 900;
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/Gellix-Black.woff2")
    format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-weight: var(--font-weight-light);
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/RoobertSemiMono-Light.woff2")
    format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-weight: var(--font-weight-normal);
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/RoobertSemiMono-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-weight: var(--font-weight-medium);
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/RoobertSemiMono-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-weight: var(--font-weight-semibold);
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/RoobertSemiMono-SemiBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-weight: var(--font-weight-bold);
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/RoobertSemiMono-Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-weight: var(--font-weight-extrabold);
  font-style: normal;
  src: url("https://chainguard-dev.github.io/courses-theme/fonts/RoobertSemiMono-Heavy.woff2")
    format("woff2");
}
